.btn-expand
  padding-right 15px
  &:before
  &:after
    content ""
    width 7px
    height 2px
    position absolute
    background $col-persian-green
    right 0
    top 8px
    transition transform .5s
  &:before
    transform rotate(-45deg)
    right 4px
  &:after
    transform rotate(45deg)
  &[data-expanded="false"]
    &:before
      transform rotate(45deg)
    &:after
      transform rotate(-45deg)
.btn-type-1
  height 50px
  line-height 50px
  color $col-persian-green
  border 1px solid $col-persian-green
  border-radius 5px
  text-align center
  display block
  &.disabled
    color $col-iron
.btn-type-2
  height 50px
  line-height 50px
  background $col-persian-green
  color $col-white
  border-radius 5px
  text-align center
  display block
  border none
button.btn-type-2
  width 100%
.btn-type-3
  height 50px
  line-height 50px
  background $col-bittersweet
  color $col-white
  border-radius 5px
  text-align center
  display block


