@font-face
  font-family 'appleFont'
    src url('../fonts/pingfang-medium-webfont.eot')
    src url('../fonts/pingfang-medium-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/pingfang-medium-webfont.woff2') format('woff2'), url('../fonts/pingfang-medium-webfont.woff') format('woff'), url('../fonts/pingfang-medium-webfont.ttf') format('truetype')
    font-weight normal
    font-style normal
$font-arial = Arial, sans-serif
$font-helvetica = Helvetica, sans-serif
// $font-apple = 'appleFont'

$max-screen-size = 1024px
$mobile-sm-break = 380px
$mobile-break = 580px
$tablet-break = 980px
