$font = "PingFang SC", "Helvetica Neue", Helvetica, "Microsoft YaHei"
// $font-arial = Arial, sans-serif
// $font-helvetica = Helvetica, sans-serif


$max-screen-size = 1024px
$mobile-sm-break = 380px
$mobile-break = 580px
$tablet-break = 980px
