@font-face
  font-family 'appleFont'
    src url('../fonts/pingfang-medium-webfont.eot')
    src url('../fonts/pingfang-medium-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/pingfang-medium-webfont.woff2') format('woff2'), url('../fonts/pingfang-medium-webfont.woff') format('woff'), url('../fonts/pingfang-medium-webfont.ttf') format('truetype')


