.has-shadow
  box-shadow 1px 1px 10px rgba(130, 130, 130, 0.3)
.hr
  border-top 1px solid $col-iron
  border-bottom 0
.hide
  display none
.clearfix:after
  content ""
  display block
  clear both
.has-corner--5
  border-radius 5px
.has-corner--50p
  border-radius 50%
.has-menu
  // margin-bottom 78px
  padding-bottom 78px !important
.has-right-arrow--b
  position relative
  &:after
    content ""
    background url(../img/ic-right-arrow-b.png)
    background-size 100%
    background-repeat no-repeat
    width 9px
    height 18px
    position absolute
    right 0
.has-right-arrow
  position relative
  &:before
  &:after
    content ""
    width 10px
    height 2px
    position absolute
    right 0
  &:before
    transform rotate(45deg) translateY(-50%)
    top calc(50% - 2.5px)
  &:after
    transform rotate(135deg) translateY(-50%)
    top calc(50% + 2.5px)
  &--porcelain 
    &:before
    &:after
      background-color $col-porcelain

.border-bottom
  border-bottom 1px solid $col-iron

.btn-type-1
  height 50px
  line-height 50px
  color $col-persian-green
  border 1px solid $col-persian-green
  border-radius 5px
  text-align center
  display block
.btn-type-2
  height 50px
  line-height 50px
  background $col-persian-green
  color $col-white
  border-radius 5px
  text-align center
  display block
.btn-type-3
  height 50px
  line-height 50px
  background $col-bittersweet
  color $col-white
  border-radius 5px
  text-align center
  display block