.hide{
  display none !important
}

.has-shadow
  box-shadow 1px 1px 10px rgba(130, 130, 130, 0.3)
.no-shadow
  box-shadow none !important
.no-border
  border none !important
.has-border
  border 1px solid $col-iron
.has-border--bottom
  border-bottom 1px solid $col-iron
.hr
  border none
  border-top 1px solid $col-iron

.hide
  display none
.clearfix:after
  content ""
  display block
  clear both
.has-corner--5
  border-radius 5px
.has-corner--25
  border-radius 25px
.has-corner--50p
  border-radius 50%
.has-menu
  // margin-bottom 78px
  padding-bottom 78px !important
.border-persian-green
  border 1px solid $col-persian-green
  box-shadow 1px 1px 10px rgba(0, 165, 165, 0.3)
.has-right-arrow--b
  position relative
  &:after
    content ""
    background url(../img/ic-right-arrow-b.png)
    background-size 100%
    background-repeat no-repeat
    width 9px
    height 18px
    position absolute
    right 0
    top 50%
    transform translateY(-50%)
    -webkit-transform translateY(-50%)
    -moz-transform translateY(-50%)
    -ms-transform translateY(-50%)
.has-right-arrow
  position relative
  &:before
  &:after
    content ""
    width 10px
    height 2px
    position absolute
    right 0
  &:before
    transform rotate(45deg) translateY(-50%)
    top calc(50% - 2.5px)
  &:after
    transform rotate(135deg) translateY(-50%)
    top calc(50% + 2.5px)
  &--porcelain 
    &:before
    &:after
      background-color $col-porcelain
.has-arrow-green
  position relative
  padding-right 10px
  &:before
  &:after
    content ""
    width 7px
    height 2px
    position absolute
    background $col-persian-green
    right 0
    top 7px
    display block
  &:before
    transform rotate(45deg)
  &:after
    transform rotate(135deg)
    top 11px
  

.border-bottom
  border-bottom 1px solid $col-iron




