.ic
  &--stars
    &--4
      background-image url(../img/ic-stars-4.png)
      background-size cover
      
  &--search
    background-image url(../img/ic-search.png)
    background-size 100%
    background-repeat no-repeat
  
  &--menu
    background-image url(../img/ic-main-menu.png)
    &--search
      background-position -4px 0
      width 32px
      height 37px
    &--share
      background-position -35px 0
      width 44px
      height 36px
    &--selected
      background-position -80px 0
      width 44px
      height 36px
    &--msg
      background-position -127px 0
      width 38px
      height 37px
    &--me
      background-position 37px 0
      width 34px
      height 36px
  &--reservation
    background url(../img/ic-resv.png)
    background-size cover
    width 40px
    height 40px
  &--back
    background-image url(../img/ic-left.png)
    background-repeat no-repeat
    background-size 100%
    display block
    width 10px
    height 25px
    &--black
      background-image url(../img/ic-left-b.png)
      background-repeat no-repeat
      background-size 100%
      display block
      width 10px
      height 25px
  &--close
    &--black
      background-image url(../img/ic-close-b.png)
      background-repeat no-repeat
      background-size 100%
      display block
      width 15px
      height 15px
      
  &--share
    background-image url(../img/ic-share.png)
    background-size 100%
    background-repeat no-repeat
    display block
    width 18px
    height 20px
    margin auto
  &--fav
    background-image url(../img/ic-fav.png)
    background-repeat no-repeat
    background-size 100%
    display block
    width 18px
    height 20px
    margin auto
  &--art1
    background-image url(../img/ic-art1.png)
    background-size 100%
    display inline-block
    width 15px
    height 15px
    background-position center
    background-repeat no-repeat
  &--art2
    background-image url(../img/ic-art2.png)
    background-size 100%
    display inline-block
    width 15px
    height 15px
    background-position center
    background-repeat no-repeat
  &--book
    background-image url(../img/ic-book.png)
    background-size 100%
    display inline-block
    width 15px
    height 15px
    background-position center
    background-repeat no-repeat
  &--coop
    background-image url(../img/ic-coop.png)
    background-size 100%
    display inline-block
    width 15px
    height 15px
    background-position center
    background-repeat no-repeat
  &--chat
    background-image url(../img/ic-chat.png)
    background-size 100%
    background-position center
    background-repeat no-repeat
    display inline-block
    width 15px
    height 15px
  &--notif
    background-image url(../img/ic-ring.png)
    background-repeat no-repeat
    background-size 100%
    display block
    width 20px
    height 24px
    &.active
      background-image url(../img/ic-ring-active.png)
  &--img
    background-image url(../img/ic-img.png)
    background-repeat no-repeat
    background-size 100%
    width 30px
    height 30px
  &--camera
    background-image url(../img/ic-camera.png)
    background-repeat no-repeat
    background-size 100%
    width 30px
    height 30px
  &--mutiply
    background-image url(../img/ic-mutiply.png)
    background-repeat no-repeat
    background-size 100%
    width 20px
    height 20px
    display inline-block
    vertical-align middle
  &--checkbox
    background-image url(../img/ic-checkbox.png)
    background-repeat no-repeat
    background-size 100%
    width 20px
    height 20px
    &.active
      background-image url(../img/ic-checkbox-active.png)
    &-2
      background-image url(../img/ic-checkbox-2.png)
      background-repeat no-repeat
      background-size 100%
      width 15px
      height 15px
      &.active
        background-image url(../img/ic-checkbox-2-active.png)
  &--user
    background-image url(../img/ic-user.png)
    background-repeat no-repeat
    background-position center
    background-size 100%
    width 20px
    height 25px
  &--psw
    background-image url(../img/ic-psw.png)
    background-repeat no-repeat
    background-position center
    background-size 100%
    width 20px
    height 25px
  &--email
    background-image url(../img/ic-email.png)
    background-repeat no-repeat
    background-position center
    background-size 100%
    width 20px
    height 25px
    
  &--eye
    background-image url(../img/ic-eye.png)
    background-repeat no-repeat
    background-position center
    background-size 100%
    width 20px
    height 25px
  &--wechat
    background-image url(../img/ic-wechat.png)
    background-repeat no-repeat
    background-position center
    background-size 100%
    width 70px
    height 70px
  &--qq
    background-image url(../img/ic-qq.png)
    background-repeat no-repeat
    background-position center
    background-size 100%
    width 70px
    height 70px
  &--alipay
    background-image url(../img/ic-alipay.png)
    background-size 100%
    width 30px
    height 30px
    background-position center
    


  

      