.ic
  &--stars
    &--4
      background-image url(../img/ic-stars-4.png)
      background-size cover
      
  &--search
    background-image url(../img/ic-search.png)
    background-size 100%
    background-repeat no-repeat
    background-position center
    width 14px
    height 24px
  &--menu
    &--me
      background-image url(../img/ic-menu-user.png)
      background-size 100%
      background-position center
      background-repeat no-repeat
      width 20px
      height 23px
      &.active
        background-image url(../img/ic-menu-user-active.png)
    &--search
      background-image url(../img/ic-menu-search.png)
      background-size 100%
      background-position center
      background-repeat no-repeat
      width 21px
      height 21px
      &.active
        background-image url(../img/ic-menu-search-active.png)
    &--share
      background-image url(../img/ic-menu-share.png)
      background-size 100%
      background-position center
      background-repeat no-repeat
      width 28px
      height 21px
      &.active
        background-image url(../img/ic-menu-share-active.png)
    &--selected
      background-image url(../img/ic-menu-game.png)
      background-size 100%
      background-position center
      background-repeat no-repeat
      width 28px
      height 21px
      &.active
        background-image url(../img/ic-menu-game-active.png)
    &--msg
      background-image url(../img/ic-menu-chat.png)
      background-size 100%
      background-position center
      background-repeat no-repeat
      width 23px
      height 21px
      &.active
        background-image url(../img/ic-menu-chat-active.png)
    
  &--reservation
    background url(../img/ic-resv.png)
    background-size 100%
    background-repeat no-repeat
    background-position center
    width 34px
    height 34px
  &--back
    background-image url(../img/ic-left.png)
    background-repeat no-repeat
    background-size 7px
    display block
    width 25px
    height 25px
    background-position center
    &--black
      background-image url(../img/ic-left-b.png)
      background-repeat no-repeat
      background-position center
      background-size 7px
      display block
      width 25px
      height 25px
  &--close
    &--white
      background-image url(../img/ic-close-w.png)
      background-repeat no-repeat
      background-size 100%
      display block
      width 15px
      height 15px
    &--black
      background-image url(../img/ic-close-b.png)
      background-repeat no-repeat
      background-size 100%
      display block
      width 11px
      height 11px
    &--green
      position relative
      width 18px
      height 18px
      &:before
      &:after
        content ""
        width 14px
        height 1px
        position absolute
        display block
        top 10px
        left 0
        background $col-paradiso
      &:before
        transform rotate(45deg)
      &:after
        transform rotate(135deg)
      
  &--share
    background-image url(../img/ic-share.png)
    background-size 100%
    background-repeat no-repeat
    display block
    width 18px
    height 20px
    margin auto
  &--fav
    background-image url(../img/ic-fav.png)
    background-repeat no-repeat
    background-size 100%
    display block
    width 18px
    height 20px
    margin auto
    &.active
      background-image url(../img/ic-fav-active.png)
  &--art1
    background-image url(../img/ic-art1.png)
    background-size 100%
    display inline-block
    width 15px
    height 15px
    background-position center
    background-repeat no-repeat
  &--art2
    background-image url(../img/ic-art2.png)
    background-size 100%
    display inline-block
    width 15px
    height 15px
    background-position center
    background-repeat no-repeat
  &--book
    background-image url(../img/ic-book.png)
    background-size 100%
    display inline-block
    width 15px
    height 15px
    background-position center
    background-repeat no-repeat
  &--coop
    background-image url(../img/ic-coop.png)
    background-size 100%
    display inline-block
    width 15px
    height 15px
    background-position center
    background-repeat no-repeat
  &--chat
    background-image url(../img/ic-chat.png)
    background-size 100%
    background-position center
    background-repeat no-repeat
    display inline-block
    width 11px
    height 11px
  &--notif
    background-image url(../img/ic-ring.png)
    background-repeat no-repeat
    background-size 100%
    display block
    width 20px
    height 24px
    &.active
      background-image url(../img/ic-ring-active.png)
  &--clock
    background-image url(../img/ic-clock.png)
    background-repeat no-repeat
    background-size 100%
    display block
    width 20px
    height 24px
  &--more
    background-image url(../img/ic-more.png)
    background-repeat no-repeat
    background-size 100%
    display block
    width 20px
    height 20px
  &--img
    background-image url(../img/ic-img.png)
    background-repeat no-repeat
    background-size 100%
    width 25px
    height 25px
    &--2
      background-image url(../img/ic-img-2.png)
      background-repeat no-repeat
      background-size 100%
      background-position center
      width 15px
      height 15px
  &--camera
    background-image url(../img/ic-camera.png)
    background-repeat no-repeat
    background-size 100%
    width 25px
    height 25px
    &--white
      background-image url(../img/ic-camera-white.png)
      background-repeat no-repeat
      background-size 100%
      background-position center
      width 25px
      height 25px
  &--emoji
    background-image url(../img/ic-chat-emoji.png)
    background-repeat no-repeat
    background-size 100%
    width 25px
    height 25px

  
  &--mutiply
    background-image url(../img/ic-mutiply.png)
    background-repeat no-repeat
    background-size 100%
    width 15px
    height 15px
    display inline-block
    vertical-align middle
    &.large
      width 20px
      height 20px
  &--checkbox
    background-image url(../img/ic-checkbox.png)
    background-repeat no-repeat
    background-size 100%
    width 24px
    height 24px
    &.active
      background-image url(../img/ic-checkbox-active.png)
    &-2
      background-image url(../img/ic-checkbox-2.png)
      background-repeat no-repeat
      background-size 100%
      width 18px
      height 18px
      &.active
        background-image url(../img/ic-checkbox-2-active.png)
    &-3
      background-image url(../img/ic-checkbox-3.jpg)
      background-repeat no-repeat
      background-size 100%
      width 18px
      height 18px
      &.active
        background-image url(../img/ic-checkbox-3-active.jpg)
  &--user
    background-image url(../img/ic-user.png)
    background-repeat no-repeat
    background-position center
    background-size 100%
    width 13px
    height 20px
  &--psw
    background-image url(../img/ic-psw.png)
    background-repeat no-repeat
    background-position center
    background-size 100%
    width 13px
    height 20px
  &--email
    background-image url(../img/ic-email.png)
    background-repeat no-repeat
    background-position center
    background-size 100%
    width 20px
    height 25px
    
  &--eye
    background-image url(../img/ic-eye.png)
    background-repeat no-repeat
    background-position center
    background-size 100%
    width 20px
    height 25px
    &.close
      background-image url(../img/ic-eye-close.png)
  &--wechat
    background-image url(../img/ic-wechat.png)
    background-repeat no-repeat
    background-position center
    background-size 100%
    width 50px
    height 50px
  &--wechat-2
    background-image url(../img/ic-wechat-2.png)
    background-size 100%
    width 25px
    height 25px
    background-position center
  &--qq
    background-image url(../img/ic-qq.png)
    background-repeat no-repeat
    background-position center
    background-size 100%
    width 50px
    height 50px
  &--alipay
    background-image url(../img/ic-alipay.png)
    background-size 100%
    width 25px
    height 25px
    background-position center
  &--card
    background-image url(../img/ic-card.png)
    background-size 100%
    width 25px
    height 20px
    background-position center
    background-repeat no-repeat
  &--add
    background-image url(../img/ic-add.png)
    background-size 100%
    width 25px
    height 25px
    background-position center
    background-repeat no-repeat
  &--bin
    background-image url(../img/ic-bin.png)
    background-size 100%
    width 15px
    height 18px
    background-position center
    background-repeat no-repeat
    &--dark
      background-image url(../img/ic-bin-2.png)
      background-size 100%
      width 18px
      height 18px
      background-position center
      background-repeat no-repeat
  &--share-to
    background-size 100%
    width 24px
    height 24px
    background-position center
    background-repeat no-repeat
    &--wechat
      background-image url(../img/ic-share-wechat.png)
    &--discovery
      background-image url(../img/ic-share-discovery.png)
    &--link
      background-image url(../img/ic-share-link.png)
    &--msg
      background-image url(../img/ic-share-msg.png)
    &--email
      background-image url(../img/ic-share-email.png)
    &--more
      background-image url(../img/ic-share-more.png)
  &--favorite
    background-image url(../img/ic-favorite.png)
    background-size 100%
    background-position center
    background-repeat no-repeat
    width 25px
    height 25px
    &.active
      background-image url(../img/ic-favorite-active.png)
  &--triangle-down
    width 0
    height 0
    border-left 10px solid transparent
    border-right 10px solid transparent
    border-top 10px solid $col-persian-green
  &--remove
    position relative
    width 10px
    height 10px
    &:before
    &:after
      width 10px
      height 1px
      background $col-persian-green
      content ""
      display block
      position absolute
      top 5px
      right 0
    &:before
      transform rotate(45deg)
    &:after
      transform rotate(135deg)
  &--secure
    background-image url(../img/ic-secure.png)
    background-size 100%
    background-repeat no-repeat
    background-position center
    width 10px
    height 15px
    display inline-block
    vertical-align middle
  &--loading
    width 30px
    height 30px
    border-radius 50%
    border 5px solid $col-iron
    border-left 5px solid $col-black
    animation loading 1s linear infinite
    -webkit-animation loading 1s linear infinite
  &--contacts
    background-image url(../img/ic-contacts.png)
    background-size 100%
    background-repeat no-repeat
    background-position center
    width 20px
    height 24px

    &.active
      background-image url(../img/ic-contacts-active.png)
  &--more-2
    background-image url(../img/ic-more-2.png)
    background-size 100%
    background-repeat no-repeat
    background-position center
    width 20px
    height 20px
  &--more-menu
    &--chat
      background-image url(../img/ic-more-menu-chat.png)
      background-size 100%
      background-repeat no-repeat
      background-position center
      width 17px
      height 18px
    &--add
      background-image url(../img/ic-more-menu-add-friend.png)
      background-size 100%
      background-repeat no-repeat
      background-position center
      width 17px
      height 18px
    &--scan
      background-image url(../img/ic-more-menu-scan.png)
      background-size 100%
      background-repeat no-repeat
      background-position center
      width 17px
      height 18px
  
  &--exclamation
    background-image url(../img/ic-exclamation.png)
    background-size 100%
    background-repeat no-repeat
    background-position center
    width 18px
    height 18px
  &--contacts
    &--phone
      background-image url(../img/ic-contacts-phone.png)
      background-size 100%
      background-repeat no-repeat
      background-position center
      width 18px
      height 18px
    &--group
      background-image url(../img/ic-contacts-group.png)
      background-size 100%
      background-repeat no-repeat
      background-position center
      width 18px
      height 18px
    &--new
      background-image url(../img/ic-contacts-new.png)
      background-size 100%
      background-repeat no-repeat
      background-position center
      width 18px
      height 18px
    &--special
      background-image url(../img/ic-contact-special.png)
      background-size 100%
      background-repeat no-repeat
      background-position center
      width 18px
      height 18px
  
  &--arrow
    &--r--s--green
      position relative
      width 7px
      height 20px
      &:before
      &:after
        content ""
        width 7px
        height 2px
        position absolute
        background $col-persian-green
        right 0
        top 6px
        display block
      &:before
        transform rotate(45deg)
      &:after
        transform rotate(135deg)
        top 10px
    &--r--s--black
      position relative
      width 7px
      height 20px
      &:before
      &:after
        content ""
        width 7px
        height 2px
        position absolute
        background $col-black
        right 0
        top 6px
        display block
      &:before
        transform rotate(45deg)
      &:after
        transform rotate(135deg)
        top 10px
  
  &--add-2
    background-image url(../img/ic-add-2.png)
    background-size 100%
    background-repeat no-repeat
    background-position center
    width 20px
    height 20px
    &.large
      width 25px
      height 25px
  &--add-3
    background-image url(../img/ic-add-3.png)
    background-size 100%
    background-repeat no-repeat
    background-position center
    width 20px
    height 20px
  &--add-4
    background-image url(../img/ic-add-4.png)
    background-size 100%
    background-repeat no-repeat
    background-position center
    width 20px
    height 20px
  &--setting
    &--fav
      background-image url(../img/ic-setting-fav.png)
      background-size 100%
      background-repeat no-repeat
      background-position center
      width 24px
      height 24px
    &--contact
      background-image url(../img/ic-setting-contact.png)
      background-size 100%
      background-repeat no-repeat
      background-position center
      width 24px
      height 24px
    &--1
      background-image url(../img/ic-setting-1.png)
      background-size 100%
      background-repeat no-repeat
      background-position center
      width 24px
      height 24px
    &--2
      background-image url(../img/ic-setting-2.png)
      background-size auto 100%
      background-repeat no-repeat
      background-position center
      width 24px
      height 24px
    &--3
      background-image url(../img/ic-setting-3.png)
      background-size 100%
      background-repeat no-repeat
      background-position center
      width 24px
      height 24px
    &--4
      background-image url(../img/ic-setting-4.png)
      background-size 100%
      background-repeat no-repeat
      background-position center
      width 24px
      height 24px
    &--5
      background-image url(../img/ic-setting-5.png)
      background-size 100%
      background-repeat no-repeat
      background-position center
      width 24px
      height 24px
    &--6
      background-image url(../img/ic-setting-6.png)
      background-size 100%
      background-repeat no-repeat
      background-position center
      width 24px
      height 24px
    &--7
      background-image url(../img/ic-setting-7.png)
      background-size 100%
      background-repeat no-repeat
      background-position center
      width 24px
      height 24px
    &--8
      background-image url(../img/ic-setting-8.png)
      background-size 100%
      background-repeat no-repeat
      background-position center
      width 24px
      height 24px
    &--9
      background-image url(../img/ic-setting-9.png)
      background-size 100%
      background-repeat no-repeat
      background-position center
      width 24px
      height 24px
    &--10
      background-image url(../img/ic-setting-10.png)
      background-size 100%
      background-repeat no-repeat
      background-position center
      width 24px
      height 24px

  &--edit
    background-image url(../img/ic-edit.png)
    background-size 100%
    background-repeat no-repeat
    background-position center
    width 14px
    height 14px
    &--green
      background-image url(../img/ic-edit-2.png)
      background-size 100%
      background-repeat no-repeat
      background-position center
      width 14px
      height 14px
      
  &--location
    background-image url(../img/ic-location.png)
    background-size 100%
    background-repeat no-repeat
    background-position center
    width 10px
    height 18px
  &--notification
    &--gift
      background-image url(../img/ic-notification-gift.png)
      background-size 100%
      background-repeat no-repeat
      background-position center
      width 38px
      height 38px
    &--discount
      background-image url(../img/ic-notification-discount.png)
      background-size 100%
      background-repeat no-repeat
      background-position center
      width 38px
      height 38px
    &--vip
      background-image url(../img/ic-notification-vip.png)
      background-size 100%
      background-repeat no-repeat
      background-position center
      width 38px
      height 38px
  &--timer-2
    background-image url(../img/ic-timer-2.png)
    background-size 100%
    background-repeat no-repeat
    background-position center
    width 20px
    height 20px
  &--plus
    position relative
    width 18px
    height 18px
    &:before
    &:after
      content ""
      width 18px
      height 2px
      background $col-white
      display block
      position absolute
      top calc(50% - 1px)
      left 0
    &:after
      transform rotate(90deg)
  &--number-down
    background-image url(../img/ic-number-down.png)
    background-size 100%
    background-repeat no-repeat
    background-position center
    width 12px
    height 18px
    display inline-block
    vertical-align middle
  &--include
    &__y
      background-image url(../img/ic-check-2.png)
      background-size 100%
      background-repeat no-repeat
      background-position center
      width 20px
      height 20px
    &__n
      background-image url(../img/ic-include-n.png)
      background-size 100%
      background-repeat no-repeat
      background-position center
      width 20px
      height 20px
  &--transalte
    background-image url(../img/ic-translate.png)
    background-size 100%
    background-repeat no-repeat
    background-position center
    width 20px
    height 40px
    

      