html, body
  height 100%
  max-width $mobile-break
  margin auto
  position relative
  font-size 14px
  font-family $font
  color $col-tundora
  background $col-white

  // font-family $font-apple

footer
  max-width $mobile-break
  margin auto
*
  margin 0
  padding 0
  box-sizing border-box
  font-family $font

  
h1
h2
h3
h4
h5
h6
p
a
li
span
div
  color $col-tundora
  

a
  text-decoration none
  color initial
p
  font-size 14px
  line-height 22px

textarea
  resize none
  font-size initial

input
  border none
  font-size initial

input::-webkit-outer-spin-button
input::-webkit-inner-spin-button
  -webkit-appearance none

input[type="number"]
  -moz-appearance textfield

select
  background none
  border 1px solid $col-iron
input.light
textarea.light
  &::-webkit-input-placeholder
    color $col-silver-sand-2
    font-weight 300
  &:-moz-placeholder
    color $col-silver-sand-2
    font-weight 300
  &::-moz-placeholder
    color $col-silver-sand-2
    font-weight 300
  &:-ms-input-placeholder
    color $col-silver-sand-2
    font-weight 300

.ui-widget-header .ui-icon
  background-image url("/assets/img/ui-icons_444444_256x240.png")