html, body
  height 100%
  max-width $mobile-break
  margin auto
  position relative
  font-size 14px
  font-family $font
  color $col-tundora
  background $col-white

  // font-family $font-apple

footer
  max-width $mobile-break
  margin auto
*
  margin 0
  padding 0
  box-sizing border-box
h1
h2
h3
h4
h5
h6
p
a
li
span
div
  color $col-tundora
  

a
  text-decoration none
  color initial
p
  font-size 14px
  line-height 22px

textarea
  resize none

input
  border none
  font-size initial

input::-webkit-outer-spin-button
input::-webkit-inner-spin-button
  -webkit-appearance none

input[type="number"]
  -moz-appearance textfield
