/* get color name from http://chir.ag/projects/name-that-color/ */
$col-white = #fff
$col-black = #000
$col-royal-blue = #317FDF
$col-transparent-white = rgba(255, 255, 255, .7)
$col-flamenco = #FF8605
$col-gray = #8c8c8c
$col-persian-green = #00a5a5
$col-tundora = #484848
$col-silver = #C7C7C7
$col-cinnabar = #EE4746
$col-wild-sand = #F5F5F5
$col-iron = #dde0e3  //border grey
$col-bittersweet = #fd6160
$col-silver-sand = #b8bebe
$col-alabaster = #f7f7f7
$col-dove-gray = #707070
$col-paradiso = #378186
$col-gallery = #efefef
$col-riptide = #8de7e7
$col-alto = #DADADA
$col-tiara = #CAD3D3
$col-burnt-sienna = #ec6664
$col-mystic = #dfe9e9
$col-porcelain = #E1E7E7
$col-edwardapprox = #9da4a4
$col-porcelain = #edf1f1
$col-cornflower-blue = #f2f9f8
$col-aqua-haze = #EFF5F5
$col-catskill-white = #f1f8f8
$col-scorpionapprox = #5e5e5e
$col-flamingo = #ef4746
$col-keppel = #31b3b1

