.txt
  &--white
    color $col-white
  &--black
    color $col-black !important
  &--bittersweet
    color $col-bittersweet !important
  &--persian-green
    color $col-persian-green !important
  &--burnt-sienna
    color $col-burnt-sienna !important
  &--edwardapprox
    color $col-edwardapprox !important
  &--tiara
    color $col-tiara !important
  &--edwardapprox
    color $col-edwardapprox !important
  &--dove-gray
    color $col-dove-gray !important
  &--cinnabar
    color $col-cinnabar !important
.txt--font--18
  font-size 18px !important
  line-height 26px !important
.txt--font--16
  font-size 16px !important
  line-height 24px !important
.txt--font--14
  font-size 14px !important
  line-height 20px !important
.txt--h1
  font-size 24px
.txt--c
  text-align center
.txt--r
  text-align right
.txt--l
  text-align left


for $x in 1..6
  .txt--{$x}00
    font-weight $x*100
