.txt
  &--white
    color $col-white
  &--black
    color $col-black !important
  &--bittersweet
    color $col-bittersweet !important
  &--persian-green
    color $col-persian-green
  &--burnt-sienna
    color $col-burnt-sienna
  &--edwardapprox
    color $col-edwardapprox
.txt--500
  font-weight 500
.txt--h1
  font-size 24px
.txt--c
  text-align center
.txt--r
  text-align right
.txt--l
  text-align left