.m-display-product
  background-color $col-white
  padding 12px 10px
  border-radius 5px
  border 1px solid $col-iron
  margin-bottom 20px
  .title
    font-size 16px
    line-height 20px
    margin-bottom 5px
  &__top
    padding 0 0 15px 0
    display block
    &:after
      content ""
      clear both
      display block
  &__bottom
    border-top 1px solid $col-iron
    padding 15px 0 0 0
    position relative
    font-size 13px
    & > div
      display inline-block
      margin-right 5px
    .btn-type-2
      position relative
      right 0
      height 32px
      line-height 32px
      width 100%
      font-size 12px
      margin-top 10px
    &.m-display-product__publish
      text-align center
  &__unpublish
    p
      strong
        font-size 16px
        line-height 28px
  &__off
    .has-right-arrow--b
      width 100%
    .ic
    &__content
      display inline-block
      vertical-align top
    &__content
      padding-left 5px
    p
      strong
        font-size 16px
        margin-bottom 5px
