.m-display-projects
  .txt--h1
    color $col-tundora
  &--item
    &--name
      text-overflow ellipsis
      overflow hidden
      white-space nowrap
      font-size 17px
      margin-bottom 5px
    &--price
      color $col-flamenco
    &--price
    &--days
      font-size 13px
    &--comments
      font-size 12px
    &--author
      height 52px
      float right
      img
        height 100%
  &--more
    color $col-persian-green
    font-size 15px
  .col
    box-sizing border-box