
.l-columns
  &:after
    clear both
  .col
    width 100%
    display inline-block
    
    


for $x in 0 5 10 15 20 25 30 35 40 45 50 55 60 65 70 75 80 85 90 95 100
  .l-w--{$x}p
    width $x * 1% !important

.l-inl-b
  display inline-block
.l-f--l
  float left
.l-f--r
  float right

.l-v--m
  vertical-align middle
.l-v--t
  vertical-align top
.l-v--b
  vertical-align bottom

.l-mgn--auto
  margin auto


$spaces = "mgn", "pad"
$positions = "l", "r", "t", "b"

for $x in 0 5 10 15 20 25 30 35 40 45 50 55 60 65 70 75 80 85 90 95 100
  for $spacing, i in "margin" "padding"
    .l-{$spaces[i]}--{$x}
      {$spacing} $x * 1px !important
  for $pos, n in "left" "right" "top" "bottom"
    for $spacing, m in "margin" "padding"
      .l-{$spaces[m]}--{$positions[n]}-{$x}
        {$spacing}-{$pos} $x * 1px !important
      

