.c-add-card
  label
    display block
  input
    font-size 16px
    line-height 20px
    padding 0 5px
    width 90%
    border-radius 0
    &.account
      font-size 22px
      line-height 28px
      padding 0 10px
      width 100%
  .btn-type-2
    font-size 12px