.c-business
  textarea
    border none
    &.large
      height 80px
  .note
    font-weight 300
    margin-top 10px
  .title
    font-size 16px
    line-height 20px
  input
  textarea
    font-size 16px
    line-height 20px
    &::-webkit-input-placeholder
      color $col-silver-sand-2
      font-weight 300
    &:-moz-placeholder
      color $col-silver-sand-2
      font-weight 300
    &::-moz-placeholder
      color $col-silver-sand-2
      font-weight 300
    &:-ms-input-placeholder
      color $col-silver-sand-2
      font-weight 300
  