.c-business
  textarea
    border none
    &.large
      height 80px
  input
    width 100%
    font-size 16px
    line-height 20px
    font-weight 300
  textarea
    width 100%
    font-size 16px
    line-height 20px
    border none
    font-weight 300
  input
  textarea
    &::-webkit-input-placeholder
      color $col-silver-sand-2
      font-weight 300
    &:-moz-placeholder
      color $col-silver-sand-2
      font-weight 300
    &::-moz-placeholder
      color $col-silver-sand-2
      font-weight 300
    &:-ms-input-placeholder
      color $col-silver-sand-2
      font-weight 300
  .title
    font-size 16px
    line-height 20px
    font-weight 500
  .light
    font-size 16px
    font-weight 300
    line-height 20px
  .note
    font-size 14px
    font-weight 300
    line-height 20px
  .btn-preview
    width 120px
    height 40px
    line-height 40px
    display inline-block
  