.c-calendar
  // &--header
  
    
  &--main
    &--top
      margin-bottom 30px
      a
        font-size 18px
        text-align center
        display block
        border-right 1px solid $col-alto
        padding 15px 0
      .no-border
        a
          border-right none
    table
      width 100%
    tbody
      text-align center
    // .calendar-title
      // display none
.c-calendar--block
  margin-bottom 30px