.c-categories
  justify-content space-between
  &--btn
    background $col-white
    border 1px solid $col-silver
    color $col-tundora
    text-align center
    border-radius 3px
    padding 7px 0
    font-size 14px
    margin-right 10px
    &.active
      background $col-persian-green
      color $col-white
      border-color $col-persian-green
  .slick-list
    padding 0 20px 0 0
