.c-change-display-name
  form
    margin-top 40px
    .rol
      padding 10px 0
      position relative
      input
        font-size initial
    .ic--close--green
      position absolute
      top 50%
      right 0
      transform translateY(-50%)
  .ps
    color $col-edwardapprox
    font-size initial
    margin-top 10px
    margin-bottom 40px