.c-collapse
  position relative
  &--container
    overflow hidden
  &--expand-btn
    position absolute
    bottom 0
    right 0
    span
      color $col-persian-green
      background $col-white
    &[data-expanded="true"]
      bottom -15px