.c-datepicker
  width 100%
  text-align right
  &::-webkit-input-placeholder
    color $col-persian-green
.date-picker-wrapper
  width 100%
  left 0
  box-sizing border-box

.date-picker-wrapper .month-wrapper table
  margin auto
  float none

.datepicker-wrapper
  padding-left 28px
  margin 10px 0
  .icon
    display inline-block
    vertical-align middle
    margin-right 5px
  &__item
    margin 10px 0
    .stage-name
      color $col-persian-green
      font-size 14px
    .input-number
      text-align center
      width 100px
      background none
      border-bottom 1px solid $col-iron
    .date
      display inline-block
      vertical-align middle
      font-size 14px
    .name
      font-size 16px
      font-weight bold

      
  .date-picker-input
    width 200px
    font-size 14px
  .display-date
    display none
    &.active
      display block