.c-datepicker
  width 100%
  text-align right
  &::-webkit-input-placeholder
    color $col-persian-green
.date-picker-wrapper
  width 100%
  left 0
  box-sizing border-box

.date-picker-wrapper .month-wrapper table
  margin auto
  float none
