.c-find-psw
  &--header
    background $col-persian-green
    .ic--back
      float left
      margin-right 10px
    span
      color $col-white
  &--form
    margin-top 40px
    p
      font-size 20px
    &--rol
      margin-top 20px
      padding 10px 0
      input
        font-size 20px
        &.input-psw
          width calc(100% - 100px)
      .btn-type-1
        display inline-block
        height 40px
        line-height 40px
        width 100px
    
    .btn-type-2
      width 100%
      margin-top 40px