.c-forget-psw
  .c-sign-in--form--rol
    position relative
  .btn-type-1
    position absolute
    right 0
    padding 0 10px
    height 38px
    line-height 38px
    top -2px
  .c-header
    padding 10px 0
    background $col-persian-green
    position relative
    .ic--back
      background-position center
      margin-right 5px

      
  .c-sign-in--main
    margin 0