.c-forget-psw
  .c-sign-in--form--rol
    position relative
  .btn-type-1
    position absolute
    right 0
    padding 0 10px
    height 32px
    line-height 32px
    top 2px
    margin 0
    width auto
    color $col-persian-green
    border 1px solid $col-persian-green
    background transparent
    &[disabled]
      color $col-iron
  .c-header
    padding 20px 0
    background $col-persian-green
    position relative
    a
      font-size 16px
    .ic--back
      background-position center
      margin-right 10px

      
  .c-sign-in--main
    margin 0

    
    