.c-friends
  &--subtitle
    background $col-cornflower-blue
    padding 20px 20px
  &--people
    img
      width 50px
      display inline-block
      vertical-align middle
      margin-right 10px
    &--info
      display inline-block
      vertical-align middle
      .note
        color $col-tundora
  .c-list--item
    padding 20px
    .btn-type-2
      width 100px
      line-height 40px
      height 40px
      display inline-block
    .ic--checkbox-3
      display inline-block
      margin-top 3px
    
      
    