.c-gift-card
  form
    label
      font-size 13px
      color $col-tundora
      
    input
      font-size 20px
      width 100%
      margin 20px 0 40px


    a
    button
      font-size 14px
      text-align center
      width 100%
      background $col-persian-green
      color $col-white
      display block
      line-height 40px
      border-radius 5px