.c-group
  &--qr
    background $col-porcelain
    height 100%
    .c-header
      background $col-white
    .c-header--back
      
      span
        display inline-block
        vertical-align middle
        color $col-black
        
    &--body
      width 80%
      margin 40px auto 
      padding 20px
      background $col-white
      
      &--thumb 
        display inline-block
        vertical-align middle
        width 50px
        margin-right 8px
      &--name
        display inline-block
        vertical-align middle
      &--image
        width 240px
        margin 20px auto 0
      &--date
        text-align center
        margin-top 30px
        font-size 11px
        color $col-gray
  &--notification
    &--body
      padding 20px
    textarea
      width 100%
      resize none
      border none
      border-bottom 1px dashed rgba(0, 0, 0, 0.6)
      font-size initial
  &--management
    .c-list
      .title
        font-size 18px
        