.c-guide
  padding-bottom 100px
  .smaller
    font-size 12px

  .title
    font-size 18px
  .list-number
    font-size 12px
    color $col-white
    background $col-persian-green
    width 15px
    height 15px
    line-height 15px
    border-radius 50%
    float left
    text-align center
    margin-top 5px
  .c-list--item--content
    padding-left 20px
  .c-list--item
    padding 30px 20px
  li
    padding-left 10px
    margin-bottom 10px
    list-style-type none
    
    &:before
      content ""
      width 6px
      height 6px
      background $col-persian-green
      border-radius: 50%
      display inline-block
      left 12px
      top 7px
      margin-right 10px
  &--ol-list
    padding 20px 20px 20px 10px
    li
      list-style-type none
      position relative
      padding-left 35px
      margin 0
      &:before
        content ""
        background url(../img/ic-bullet.png)
        background-size 70%
        background-repeat no-repeat
        width 30px
        height 30px
        display block
        position absolute
        background-position center
        left 0
        top 50%
        transform translateY(-50%)
        background-color $col-white
        z-index 1
        margin 0 auto
      &:after
        content ""
        display block
        width 1px
        height 100%
        position absolute
        top 0
        left 15px
        background $col-persian-green
      .box
        padding 15px 10px
        border 1px solid $col-iron
        border-radius 5px
        .num
          width 60px
          display inline-block
          vertical-align top
        &--content
          width calc(100% - 60px)
          display inline-block
          vertical-align top
        .title
          font-size 16px
          line-height 24px
  &__add-product
    #period_number-error
      display none !important

    &__item
      font-size 16px
      .note
        font-size 10px
        font-weight 200
        padding-left 10px
      .title
        display inline-block
        vertical-align middle
        font-size 16px
      .input
        display inline-block
        vertical-align middle
        width calc(100% - 80px)
      textarea
      input
      select
        font-size inherit
        &.error
          border 1px solid red
          display inline-block
          border-radius 5px
          margin-top 0
      select
        background-color $col-cornflower-blue
        padding 2px 0 2px 5%
        text-align center
        text-align-last center
        font-size 12px
        
      textarea
        height 24px
        border none
      input
        &::-webkit-input-placeholder
          font-weight 300
        &:-moz-placeholder
          font-weight 300
        &::-moz-placeholder
          font-weight 300
        &:-ms-input-placeholder
          font-weight 300
      input[type="checkbox"]
      input[type="radio"]
        opacity 0
      &__period
        .ic--checkbox-2
          display inline-block
          vertical-align middle
        &__detail
          display inline-block
          vertical-align middle
          padding-left 10px
          width calc(100% - 30px)
          input
            width 70px
            font-size 16px

          p
            font-weight 300
            font-size 16px
      &--price
        input
          width 90px
        .left
          width 110px
        .right
          width calc(100% - 110px)
      .radio-group
        &__item
          padding-right 20px
          margin-bottom 10px
          label
          .ic--checkbox-2
            display inline-block
            vertical-align middle
          label
            font-weight 200
            padding-right 5px
         
  &__refund-setting
    .item
      margin 20px auto
    .bullet
    .content
      display inline-block
      vertical-align top
    .bullet
      width 25px
      padding-top 2px
      span
        width 15px
        height 15px
        font-size 11px
        line-height 15px
        background-color $col-persian-green
        color $col-white
        border-radius 50%
        display block
        text-align center
        box-sizing border-box
    .content
      width calc(100% - 25px)
      input
        width 50px
        border-bottom 1px solid $col-silver-chalice
        text-align center
        color $col-black
    input[type="checkbox"]
      opacity 0