.c-location
  &--category
    background $col-cornflower-blue
    padding 10px 0 10px 20px
    span
      font-size 12px
  .ic--location
    display inline-block
    vertical-align middle
    margin-right 5px
  .c-list
    &--item
      cursor pointer
      &.active
        .c-location--item--name
          &:after
            content ""
            background url(../img/ic-checked.png)
            background-size 100%
            bacground-position center
            background-repeat no-repeat
            width 10px
            height 10px
            display inline-block
            float right
            margin-top 10px