.c-menu
  position fixed
  bottom 0
  width 100%
  max-width $mobile-break
  background $col-white
  border-top 1px solid $col-silver
  box-shadow 0 0 5px rgba(130, 130, 130, 0.3)
  padding 10px 0 5px
  left 50%
  transform translateX(-50%)
  &--item
    text-align center
    span
      color $col-tundora
    &--icon
      margin auto
    &.active
      span
        color $col-cinnabar

    &--name
      font-size 10px