.c-order-detail
  padding 20px 20px 70px 20px
  font-size 16px
  .project-title
    font-size 16px
    line-height 23px
    font-weight 500
    padding-right 44px
  .title
    font-size 18px
  textarea
    border none
    &::-webkit-input-placeholder
      color $col-black
        
    // border-bottom 1px solid $col-iron
  &--item
    list-style-type none
    display block
    border-bottom 1px solid $col-iron
    padding 25px 0
    &:nth-last-of-type(1)
      border-bottom none
    .user-name
    .user-id
      margin-top 10px
      border 1px solid $col-iron
      display none
      padding 5px 10px
  .c-menu
    .link
      color $col-persian-green
      font-size 11px
      line-height 14px
  