.c-order-detail
  padding 20px 20px 80px 20px
  &--item
    display block
    border-bottom 1px solid $col-iron
    padding 20px 0
    .col
      vertical-align middle
    .user-name
    .user-id
      margin-top 10px
      border 1px solid $col-iron
      display none
      padding 5px 10px
  .c-menu
    left 0
    .link
      color $col-persian-green
      font-size 14px
    