.c-price-detail
  h2
    font-size 28px
  h3
    font-size 22px
    sup
      font-size 14px
  h4
    font-size 20px
    line-height 30px
  p.smaller
    font-size 14px
  .title
    font-size 18px
  .c-list--item
    padding 25px 0
    .price
      font-size 16px
  &--section
    margin 20px 0 40px
    border 1px solid $col-tiara
    border-radius 5px
    padding 20px
    ul
      li
        list-style-type none
        position relative
        padding-left 25px
        margin-bottom 30px
        &:before
          content ""
          background url(../img/ic-bullet.png)
          background-size 100%
          width 20px
          height 20px
          display block
          position absolute
          left 0
          top 0
        &:after
          content ""
          display block
          width 1px
          height 100%
          position absolute
          top 25px
          left 10px
          background $col-persian-green
        &:nth-last-of-type(1)
          &:after
            display none
        .left
        .right
          display inline-block
          vertical-align top
        .right
          max-width calc(100% - 60px)
    &--product
      border none
      border-radius 0
      margin 20px 0
      padding 0
      &--item
        padding 20px
        margin-bottom 40px
        .left
        .right
          display inline-block
        .comments
          background-color $col-alabaster
          border-radius 5px
          padding 10px
          font-weight 300
    &--terms
      border none
      border-radius 0
      margin 20px 0
      padding 0

  &__container
    margin-top 30px
  &__item
    margin-bottom 30px
    &__bottom
      background-color $col-cornflower-blue
      border-radius 4px
      padding 20px 10px
      margin-top 15px
      p
        width 60px
        display inline-block
        &.unit
          width 44px
      .box-white
        background-color $col-white
        padding 5px 8px
        border-radius 4px
        border 1px solid $col-iron
        box-shadow 0px 0px 5px rgba(130, 130, 130, 0.2)
        width calc(100% - 60px)
        display inline-block
        vertical-align middle
  &__promo
    &__item
      margin 15px 0
      &__content
      .icon
        display inline-block
        vertical-align top
      .icon
        padding-top 2px
      &__content
        width calc(100% - 40px)
        padding-left 10px
      ul
        margin-top 10px
        li
          list-style-type none
          line-height 24px
      .txt--underline
        padding-right 15px
      