.c-project-profile
  h2
    font-size 28px
  ul
    li
      margin-bottom 15px
      &:before
        content ""
        width 6px
        height 6px
        background $col-persian-green
        border-radius 50%
        display block
        left 12px
        top 7px
      &:after
        display none
      &:nth-last-of-type(1)
        margin-bottom 0
        
  .c-price-detail--section
    padding 20px 5px