.c-project-list
  &--note
    font-size 16px
    line-height 20px
  .ic--reservation
    margin auto 0 auto auto
  .m-display-projects--item--name
    white-space normal
  .m-display-projects--item
    margin-bottom 30px
    position relative
    .ic--favorite
      position absolute
      right 10px
      top 10px
      z-index 1