.c-project-profile
  ul
    li
      &:before
        content ""
        width 8px
        height 8px
        background $col-persian-green
        border-radius 50%
        display block
        left 12px
        top 50%
        transform translateY(-50%)
      &:after
        display none
  .c-price-detail--section
    padding 20px 5px