.c-product-management
  .ic--plus
    display inline-block
    vertical-align middle
    margin-right 5px
  .h1
    font-size 20px
    line-height 28px
    display inline-block
    vertical-align middle
    width calc(100% - 40px)
    span
      font-size 16px
      i
        font-style initial
  .edit 
    width 40px
    display inline-block
    vertical-align middle
    text-align right
    
    a
      padding-right 10px
      font-size 12px
      color $col-persian-green
  .banner
    background-image url(../img/bg-banner-green.jpg)
    background-size cover
    background-repeat no-repeat
    background-position center
  &__optimization
    .mark
      font-size 12px
      line-height 14px
      padding 4px 5px
      border-radius 5px
      color $col-white
      display inline-block
      vertical-align middle
    .product-overview
      box-shadow 1px 1px 30px $col-iron
      border-bottom-left-radius 5px
      border-bottom-right-radius 5px
      &>img
        border-top-left-radius 5px
        border-top-right-radius 5px
      &__content
        padding 10px 20px
        .title
          font-size 20px
          line-height 28px
          font-weight bold
          margin-bottom 10px
      &__numbers
        background-color $col-cornflower-blue
        text-align center
        p
          font-weight 500
        .number
          font-size 22px
          .ic--number-down
            margin-right 6px
        .l-w--50p:nth-of-type(1)
          border-right 1px solid $col-iron
    .product-assets
      margin-top 30px
      .l-flex
        justify-content space-between
        flex-wrap wrap
        margin-top 15px
        .flex-item
          width 32%
          position relative
          margin-bottom 4px
          img
            border-radius 5px
          span
            position absolute
            background-color $col-persian-green
            color $col-white
            font-size 12px
            line-height 22px
            padding 0 5px
            display block
            border-top-left-radius 5px
            border-bottom-right-radius 5px
    .product-heading
      &__item
        border-radius 5px
        padding 15px
        background-color $col-alabaster
        margin 10px auto
        .mark

          display inline-block
          vertical-align top
          margin-right 15px

          width 35px
          margin-top 5px
        p
          display inline-block
          vertical-align top
          width calc(100% - 50px)
    .product-price
      // padding 15px
      &__item
        margin 10px 0
        padding-left 15px

        .mark
          width 60px
        p
          display inline-block
          padding-left 10px
          text-align right
          font-size 16px
          font-weight 500
          vertical-align middle
          width calc(100% - 60px)
    .product-description
      &__item
        padding 15px
        background-color $col-alabaster
        border-radius 5px
        margin-bottom 10px
        .mark
          width 35px
        p
          display inline-block
          vertical-align top
          width calc(100% - 35px)
          padding-left 15px
          
          
          
          

  &__account
    select
      text-align center
      text-align-last center
    .account-overview
      box-shadow 1px 1px 30px $col-iron
      &__top
        padding 15px
        background-color $col-cornflower-blue
        .ic--arrow--r--s--black
          padding-right 10px
        .number
          font-size 20px
          color $col-cinnabar
          font-weight bold
          span
            font-size 14px
            color inherit
            font-weight 400
      &__bottom
        padding 15px
        border-top 1px solid $col-iron
        justify-content space-between
        flex-wrap wrap
        position relative
        .number
          font-size 18px
          font-weight bold
          span
            font-size 14px
            font-weight 400
        .flex-item
          width 32%
          text-align center
          margin 10px 0
          .add
            background url(../img/bg-add.jpg)
            background-position center
            background-repeat no-re
            background-size 100%
            width 50px
            height 50px
            margin auto
          &:nth-last-of-type(1)
            position absolute
            right 0
            bottom 14px
          
            
    .account-data
      
      select
      input
        height 28px
        line-height 28px
        width 100px
        font-size 14px
        display inline-block
        vertical-align middle
        margin 0 5px
      &__table
        width 100%
        overflow-x auto
        table
          width 200%
          text-align center
          border-spacing 0px
          border-collapse collapse
          th
            width 60px
            padding 5px 0
          th
          td
            border 1px solid $col-iron
          .download-pdf
          .download-excel
            font-size 12px
            display block
          

  &__edit
    .h1
      width 100%
    p
      font-size 16px
      
    .preview-button
      background-color $col-persian-green
      padding 5px 18px
      font-size 14px
      color $col-white
      font-weight 300
      border-radius 5px
      display inline-block
      text-align center