.c-publish
  input
    width 100%
    font-size 18px
    line-height 24px
  textarea
    width 100%
    font-size 18px
    line-height 24px
    border none
  .title
    font-size 18px
    line-height 24px
  .light
    font-size 18px
    font-weight 300
    line-height 24px
  .note
    font-size 16px
    font-weight 300
    line-height 24px
  .ic--add-3.large
    width 25px
    height 25px
  &--categories
    .heading
      margin-bottom 10px
      font-size 18px
    ul
      border-bottom 1px solid $col-iron
      margin-bottom 20px
      padding-bottom 20px
      li
        list-style-type none
        display inline-block
        margin 15px 20px 15px 0
        box-sizing border-box
        span
          padding 8px 15px
          font-size 16px
          line-height 24px
          background $col-cornflower-blue
          border-radius 5px
      
  