.c-register
  .c-sign-in--form--rol
    margin-top 30px
    .ic--email
      display inline-block
      vertical-align middle
    .input-email
      width calc(100% - 40px)
  .button
    &[disabled]
      background $col-iron
      color $col-white
  .c-sign-in--main
    margin-top 70px
  .btn-type-2
    font-size 16px
  .c-sign-in--other
    margin-top 80px
  