.c-requirement
  &__edit
    &__item
      padding 0 20px
      margin 20px 0 30px 0
      .input-wrapper
        padding 10px
        span
          margin-right 5px
          vertical-align middle
          font-weight bold
      .datepicker-wrapper
        padding-left 28px
        margin 10px 0
        .icon
          display inline-block
          vertical-align middle
        &__item
          margin 10px 0
          .input-number
            text-align center
            width 100px
        .date-picker-input
          width 200px
      &__note
        margin-top 20px
        textarea
          border none
          background $col-cornflower-blue
          width 100%
          border-radius 4px
          line-height 22px
          padding 15px 20px
          height 100px
          font-size 14px
