.c-requirement
  &__edit
    &__item
      padding 0 20px
      margin 20px 0 30px 0
      .input-wrapper
        padding 10px
        span
          margin-right 5px
          vertical-align middle
          font-weight bold
        input
          background none
      .datepicker-wrapper
        padding-left 28px
        margin 10px 0
        .icon
          display inline-block
          vertical-align middle
        &__item
          margin 10px 0
          .input-number
            text-align center
            width 100px
            background none
        .date-picker-input
          width 200px
      &__note
        margin-top 20px
        textarea
          border none
          background $col-cornflower-blue
          width 100%
          border-radius 4px
          line-height 22px
          padding 15px 20px
          height 100px
          font-size 14px
      .status-group
        text-align center
        display inline-block
        vertical-align middle
        float right
        .status-icon
          background-image url(../img/ic-stage-status.png)
          background-size auto 100%
          background-repeat no-repeat
          width 20px
          height 20px
          margin auto
        .status-text
          font-size 12px
            
      &[data-status=done]
        .status-group
          .status-icon
            background-position 0 0
          .status-text
            color $col-persian-green
        .input-wrapper
          border-color $col-persian-green
      &[data-status=inProgress]
        .status-group
          .status-icon
            background-position -21px 0
          .status-text
            color $col-rink-pink
        .input-wrapper
          border-color $col-rink-pink
      &[data-status=toStart]
        .status-group
          .status-icon
            background-position -42px 0
          .status-text
            color $col-silver-sand
            
           
  .upload-file-btn
    position relative
    .upload-file-input
      position absolute
      width 100%
      height 100%
      left 0
      top 0
      opacity 0
  .radio-group--1
    .radio-item
      margin 10px 0
      .radio-icon
      .radio-label
        display inline-block
        vertical-align top
      .radio-label
        width calc(100% - 30px)
        margin-left 10px
      .radio-icon
        width 20px
        padding-top 2px