.c-reservation
  &__link
    display block
    position relative
    margin 20px
    img
      width 100%
    span
      position absolute
      top 50%
      left 30px
      transform translateY(-50%)
      color $col-white
  &__order-detail
    padding 0 20px
    &__top
      img
        width 120px
        vertical-align middle
      &__content
        width calc(100% - 120px)
        padding 0 10px
        display inline-block
        vertical-align middle
        .price
          color 
    &__section
      margin 20px 0
      .title
        font-size 18px
        font-weight bold
        margin-bottom 10px
      .select-style-1
      .select-style-2
        
        background-color $col-cornflower-blue
        border-radius 4px
        padding 5px 10px
      .select-style-1
        color $col-persian-green
      .select-style-2
        color $col-black

      .style-top
        margin 5px 0
      .style-bottom
        font-size 12px
        margin-bottom 10px
        padding 5px 10px
      ul
        display flex
        flex-wrap wrap
        justify-content space-between
      li
        list-style-type none
        width 21%
        vertical-align middle
        text-align left
        margin-bottom 20px
        text-align center
      .language-list
        padding 5px 10px
        font-size 12px
        margin 2px 0
        
        
        