.c-selected-detail
  padding-bottom 120px
  font-size 14px
  .type
    font-size 16px
  h2
    font-size 20px
  &--banner
    position relative
    .overlay
      position absolute
      right 20px
      bottom 20px
      background $col-alabaster
      padding 10px 15px
      border-radius 5px
      span
        font-size 12px
      .ic--img--2
        display inline-block
        vertical-align middle
        margin-right 5px
  .c-store--footer
    .left
    .right
      display inline-block
      vertical-align middle
      
    .left
      width 50px
      text-align center
      img
        width 100%
        border-radius 50%
    .right
      width calc(100% - 50px)
      p
        font-size 12px
        padding 0 10px
        margin-bottom 10px
  &--content
    &--title
      margin-bottom 20px
    &--body
      color $col-dove-gray
      margin-bottom 25px
      ul
        list-style-position inside
        line-height 24px

       