.c-select-country-language
  &--item
    cursor pointer
    &.active
      .c-select-country-language--item--name
        &:after
          content ""
          background url(../img/ic-checked.png)
          background-size 100%
          bacground-position center
          background-repeat no-repeat
          width 10px
          height 10px
          display inline-block
          float right
          margin-top 10px
