.c-selected
  header
    .ic--search
      margin auto
    span
      font-size 12px
  &--main
    gradient-linear-up-down($col-white, $col-alabaster, $col-alabasterapprox)
    margin-top 20px
    padding-top 5px
    box-shadow 0px -1px 1px rgba(130, 130, 130, 0.3)
    .ic--favorite
      position absolute
      right 10px
      top 10px
      z-index 1
    .m-display-projects--item
      position relative
    