.c-share
  &--hero
    position relative
    .ic--close--white
      position absolute
      top 20px
      left 20px
    &--overlay
      position absolute
      width 80%
      left 10%
      top 50%
      transform translateY(-50%)
      border-radius 5px
      background-color $col-white
      img
        border-top-left-radius 5px
        border-top-right-radius 5px
      &--content
        padding 10px
  &--links
    padding 0 20px
    span
      font-size 16px
      line-height 24px
        
        
      