.c-sign-in
  padding 50px 0 20px
  
  &--bg
    background url(../img/bg-sign-in.png)
    background-size cover
    background-repeat no-repeat
    background-position center
    height 100%
    width 100%
    position relative
  h1
    font-size 36px
    color $col-tundora
    font-family $font-apple
  h2
    font-size 18px
    color $col-tundora

  &--main
    margin-top 50px
  &--form
    &--dropdown
      position absolute
      background $col-white
      width 100%
      box-shadow 0px 4px 15px rgba(130, 130, 130, 0.3)
      padding 20px
      top 48px
      z-index 1
      display none
      li
        list-style-type none
        line-height 32px
        position relative
        span
          display block
        .ic--remove
          position absolute
          top 50%
          transform translateY(-50%)
          right 0
          z-index 2
    &--rol
      padding 10px 0
      margin-top 25px
      position relative
      .ic--user
      .ic--psw
      .ic--eye
      input
        display inline-block
        vertical-align middle

      input
        width calc(100% - 45px)
        // font-size 20px
        position relative
        padding 0 5px
        &.input-phone
          width calc(100% - 100px)
      .ic--triangle-down
        position absolute
        right 10px
        top 50%
    &--link
      margin-top 10px
      a
        color $col-persian-green
    .button
    button
      width 100%
      height 50px
      line-height 50px
      border-radius 5px
      margin 30px 0 15px
      background $col-persian-green
      color $col-white
      display block
      text-align center
      border none
      font-size 16px
  &--other
    border-top 1px solid $col-iron
    position relative
    margin-top 50px
    span
      background $col-white
      position absolute
      padding 5px 10px
      left 50%
      transform translateX(-50%)
      top -14px
    .ic
      &--wechat
      &--qq
        border-radius 50%
        border 1px solid $col-mystic
        display inline-block
  &--register
    a
      display block
      width 100%
      border 1px solid $col-persian-green
      text-align center
      color $col-persian-green
      line-height 50px
      border-radius 5px
  &--bottom
    position absolute
    width 90%
    bottom 20px
  
      
  