.c-spinner
  &__up
    background url(../img/ic-spinner-up.png)
  &__down
    background url(../img/ic-spinner-down.png)
  &__up
  &__down
    width 20px
    height 20px
    background-position center
    background-size 100%
    background-repeat no-repeat
    display inline-block
    vertical-align middle
  input
    width 70px
    font-size 15px
    text-align center
    padding 0 10px
    
  