.c-store
  margin-bottom 90px
  h2
    font-size 18px
    font-weight normal
  &--main
    &--subtitle
      font-size 11px
    &--title
      font-size 22px
      line-height 28px
      margin 7px 0 14px 
    &--info
      ul
        padding 0
        margin 0
        vertical-align top
        li
          width 48%
          margin 0 2% 5px 0
          display inline-block
          background $col-persian-green
          color $col-white
          text-align center
          vertical-align middle
          padding 5px
          height 38px
          border-radius 5px
          box-sizing border-box
          position relative
          i
            margin-right 2px
            width 15px
            vertical-align middle
            height 100%
          
          span
            display inline-block
            line-height 30px
            // width 104px
            font-size 12px
            color $col-white
      &--author
        text-align center
        padding-left 5px
        box-sizing border-box
        vertical-align top
        img
          width 50px
      &--contact
        background $col-bittersweet
        border-radius 5px
        padding 5px
        // margin-top 3px
        width 70px
        line-height 14px
        margin auto
        a
        span
          color $col-white
          font-size 10px
          line-height 14px
        i
          margin-right 2px
          vertical-align middle
  &--detail
    position relative
    
    &--translate
      color $col-persian-green
      font-size 14px
      span
        padding-right 10px
        position relative
        &:before
        &:after
          content ""
          width 7px
          height 2px
          position absolute
          background $col-persian-green
          right 0
          top 5px
          display block
        &:before
          transform rotate(45deg)
          
        &:after
          transform rotate(145deg)
          top 9px
          
          
    &--body
      height 134px
      overflow hidden
  .btn-expand
    position absolute
    right 0
    bottom 0
    
    span
      color $col-persian-green

  
  
  &--comments
    &--item
      position relative
      &--author
        img
          width 40px
          float left
          margin-right 10px
        .id
        .time
          display block
        .time
          font-size 12px
          color $col-silver-sand
      &--body
        height 36px
        overflow hidden
    &--read-all
      color $col-persian-green
      padding 5px 15px
      border 2px solid $col-persian-green
      border-radius 5px
      font-weight bold
    &--stars
      width calc(100% - 85px)
    &--stars
    &--stars + span
      vertical-align middle
  
  &--links
    li
      font-size 17px
      a
        display block
      // list-style-type none
      // position relative
      // color $col-tundora
      // font-size 23px
      // border-bottom 1px solid $col-iron
      // padding 20px 0
      // &:after
      //   content ""
      //   background url(../img/ic-right-arrow.png)
      //   background-size 100%
      //   background-repeat no-repeat
      //   width 12px
      //   height 25px
      //   position absolute
      //   right 0
      &.ps
        font-size 14px
        
        
  &--footer
    padding 10px 20px
    box-sizing border-box
    line-height 14px
    p
      line-height 18px
    &--stars
      width 52px
      & + span
        font-size 11px
        line-height 14px
    & > span
      color $col-persian-green
      font-size 11px
      line-height 14px
    // .price
    //   font-size 20px
    &--btn
      position absolute
      width 150px
      height 46px
      line-height 46px
      color $col-white
      background $col-bittersweet
      border-radius 5px
      right 20px
      top 50%
      margin-top -25px
      text-align center
  
  &--popup
    &--comments
      box-sizing border-box
      ul
        margin-bottom 50px
        li
          list-style-type none
          line-height 38px
          img
            width 80px
            float right
      // .hr.bold
      //   border-color $col-black
      .name
      .date
        line-height 24px
      .name
      .reply-author
        font-size 16px
      
        
      
      
      
        
          
        
