mixin popup(page)
  .c-popup--cover.js-popup-cover
  if (page == 'register')
    .c-popup.c-popup--register.js-popup-register
      a(href="javascript:void(0);").js-close-register.ic--close--black.l-f--r
      .clearfix
      .txt--c
        img(src=paths.img + 'register-img-1.jpg')
        h2.l-mgn--t-10.l-mgn--b-20 注册成功
      a.btn-type-2(href="javascript:void(0)") 确认

  else if (page == 'signIn')
    .c-popup.c-popup--code.js-popup-code
      a(href="javascript:void(0);").js-close-popup-code.ic--close--black.l-f--r

      h2 请输入短信验证码
      span.error.l-mgn--t-10.js-error 验证码错误
      .l-mgn--t-10.l-mgn--b-20.l-flex.js-popup-code-inputs
        input.js-code.txt--c(type="text", maxlength="1")
        input.js-code.txt--c(type="text", maxlength="1")
        input.js-code.txt--c(type="text", maxlength="1")
        input.js-code.txt--c(type="text", maxlength="1")
        input.js-code.txt--c(type="text", maxlength="1")
        input.js-code.txt--c(type="text", maxlength="1")
      a.btn-type-1.js-popup-code-verification-btn(href="javascript:void(0);") 发送验证码
      form.js-popup-code-form
        input(type="hidden", name="code", value="")
        input(type='hidden', name="phone", value="")
        a.login-btn.disabled.l-mgn--t-10.js-btn.js-popup-code-submit(href="javascript:void(0);") 登陆
  else if (page == 'verifyEmail')
    form.c-popup.c-popup--verify-email.js-popup-verify-email
      a(href="javascript:void(0);").js-close-verify-email.ic--close--black.l-f--r
      h2.l-mgn--b-20 邮箱验证
      //- a.btn-type-2(href="javascript:void(0)") 确认
      p.txt--l.txt--edwardapprox.
        验证邮件已发送至<span class="js-display-email">xxxxx@xxx.com</span>,请前往邮箱验证
      //- p.txt--l.txt--edwardapprox.js-display-email xxxxx@xxx.com
      input.js-input-email(type="hidden", name="userEmail", value="xxxxx@xxx.com")
      .error.js-error
      a.btn-type-2.l-mgn--t-20(href="javascript:void(0);").js-verify-btn 已验证
      a.btn-type-2.l-mgn--t-20(href="javascript:void(0);").js-resend-btn 重新验证 (60)
      .l-mgn--t-20.l-columns.c-popup--verify-email--subscription.txt--l
        p.txt--edwardapprox 我想通过电子邮件，短信和电话收到来自MIB的推广信息，包括折扣优惠、调查和重要信息通知。
        .checkbox.js-checkbox.checked
          input.subscription.js-subscription(name="subscription", type="text", value="true")
          .icon

  else if (page == 'resetPsw')
    .c-popup.c-popup--reset-psw.js-popup-reset-psw
      //- a(href="javascript:void(0);").js-close-reset-psw.ic--close--black.l-f--r
      //- .clearfix
      .txt--c
        img(src=paths.img + 'register-img-1.jpg')
        h2.l-mgn--t-20.l-mgn--b-20 重置密码成功
      a.btn-type-2.js-popup-reset-psw-btn(href="./sign-in.html") 返回登陆

  
  else if (page == 'addFriends')
    .c-popup.c-popup--add-friends.js-popup-add-friends
      a(href="javascript:void(0);").js-close-add-friends.ic--close--green.l-f--r
      h2 好友验证请求
      input(type="text", name="message", value="我是Lina")
      .l-flex
        a.btn-type-2(href="javascript:void(0);") 取&nbsp;消
        a.btn-type-2(href="javascript:void(0);") 确&nbsp;定
