mixin search-bar(a)
  - var ifCancel = a == 0 ? false : true;
  - var klass = ifCancel ? 'c-search--result' : '';
  - var input_klass = a == 0 ? 'has-shadow' : 'bg--wild-sand has-corner--5';
  .c-search.l-mgn--t-10(class=klass)
    form.c-search--form#sf
      .c-search--form--input(class=input_klass)
        .c-search--icon.ic--search
        input(type='text', name='sf_wd', placeholder="点击搜索各类资源")
      if (ifCancel)
        .c-search--form--cancel.txt--c
          a(href="#") 取消

mixin search-bar-2()
  .c-search.c-search--grey
    form.c-search--form#sf2
      .c-search--form--input
        .c-search--icon.ic--search
        input(type='text', name='sf2_wd', placeholder="点击搜索")
mixin search-bar-no-cancel()
  .c-search.l-mgn--t-10
    form.c-search--form#sf3
      .c-search--form--input.bg--catskill-white.has-corner--25
        .c-search--icon.ic--search
        input(type="text", name='sf3__wd', placeholder="点击搜索各类资源")




