//- 预定详情13-1
extends ../partials/_template

block content
  .c-reservation
    .c-header.l-columns.l-v--m.l-pad--20.pos-relative
      .col.c-header--back.l-w--50p.l-v--m
        a.ic--back--black.js-go-back(href="javascript:void(0)")

    a.c-reservation__link
      img(src=paths.img+'reservation-bg-1.jpg', alt="")
      span 提交详细需求
    a.c-reservation__link
      img(src=paths.img+'reservation-bg-2.jpg', alt="")
      span 直接下单购买
    a.c-reservation__link
      img(src=paths.img+'reservation-bg-3.jpg', alt="")
      span 与店主沟通

    