//- //- 检查并支付 16
//- extends ../partials/_template

//- block content
//-   form.c-order-detail.c-prepay.c-process(data-js-prepay)
//-     .ic--back--black.l-mgn--b-20.js-go-back
//-     h2.l-mgn--b-10 检查并支付
//-     .c-order-detail--item.l-columns
//-       .col.l-w--70p.l-v--t
//-         .project-title 中国水墨风/国产武侠原画，超高精度
//-       .col.l-w--30p.l-v--t
//-         img.l-w--100p(src=paths.img + 'order-detail-thumb.jpg', alt="产品图片")
//-     .c-
//-     a.c-order-detail--item.l-columns.has-right-arrow--b(href="payment-mathod.html")
//-       .col.l-w--100p
//-         .ic--alipay.l-inl-b.l-v--m.l-mgn--r-10
//-         .title.l-inl-b.l-v--m 支付宝

//-     .c-order-detail--item.l-columns
//-       .col.l-w--50p.l-mgn--b-15.title.
//-         <span>¥2500/天</span><i class="ic--mutiply"></i><span>30天</span>
//-       .col.l-w--50p.txt--r.l-mgn--b-15.title.js-price(data-price='60000') ¥60000.00
//-       .col.l-w--50p.l-mgn--b-15.
//-         首付款 <span class="txt--burnt-sienna">30%</span>
//-       .col.l-w--50p.txt--r.l-mgn--b-15.title.js-price(data-price='2000') ¥2000.00
//-       .col.l-w--50p.l-mgn--b-15.
//-         服务费 <span class="txt--burnt-sienna">5%</span>
//-       .col.l-w--50p.txt--r.l-mgn--b-15.title.js-price(data-price='2000') ¥2000.00
//-       .col.l-w--50p.l-mgn--b-15.
//-         增值税 <span class="txt--burnt-sienna">6%</span>
//-       .col.l-w--50p.txt--r.l-mgn--b-15.title.js-price(data-price='2000') ¥2000.00
//-       .col.l-w--100p.txt--r
//-         a.txt--persian-green(href="gift-card.html") 添加礼金券     
//-     .c-order-detail--item.l-columns
//-       .col.l-w--50p.title.
//-         总额 (CNY)  
//-       .col.l-w--50p.txt--r
//-         span.txt--persian-green.total.js-total(data-price) ¥26000.00

//-     .c-order-detail--item.l-columns
//-       .col.l-w--100p.title.l-mgn--b-10 退订政策
//-       .col.l-w--100p
//-         p.
//-           距离项目启动时间至少5天取消预订才可全额退款（服务费除外）。距离启动日期5议案内取消预订，扣除预付款的30%，剩余的款项全额退还。尚未入驻，且在预订确认后48小时内取消的预订，将退还服务费。 
//-     .c-order-detail--item.l-columns
//-       .col.l-w--100p
//-         input(type="hidden", name="refoundAgreement", value="")
//-         .ic--checkbox-2.l-f--l.l-mgn--b-30.l-mgn--t-5.l-mgn--r-5.js-checkbox(data-checked='')
//-         p.
//-           我同意<a class="txt--persian-green" href="rules.html">商铺合作守则，退订政策</a>，我也同意支付已预订定单的如下金额。
        
//-     .c-order-detail--item.l-columns
//-       .col.l-w--100p
//-         a.btn-type-3(href="pay-success.html") 确认预定 ¥26000.00

        

    



