//- 检查并支付 16
extends ../partials/_template

block content
  .c-pay-detail.bg--athens-gray
    .c-header.l-columns.l-v--m.l-pad--20.pos-relative
      .c-header--title
        span.txt--black 确认订单
      .col.c-header--back.l-w--50p.l-v--m
        a.ic--back--black.js-go-back(href="javascript:void(0)")
    .break-bar
    .section
      .image-container
        img(src=paths.img+'pay-detail--location.png', alt="")
      .c-pay-detail__info
        p.txt--b Lina
          span 18611691535
        p.txt--font--12 中国，北京，北京市天禾互动有限公司
    .break-bar
    .section.c-pay-detail__pay-method
      .l-columns
        .l-w--50p.col 支付方式
        .l-w--50p.col.txt--r
          a.has-right-arrow--b.l-pad--r-15(href="javascript:void(0)")
            .ic--pay--wechat
            span 微信方式
    .break-bar
    .c-pay-detail__store
      .c-pay-detail__store__head
        .l-w--100p.l-mgn--b-10
          .ic--store
          .store-name.has-right-arrow.has-right-arrow--porcelain 美声音频制作小屋
        .product-image
          img.l-w--100p(src=paths.img+"product-image-239x239.jpg", alt="")
        .product-description
          .txt--b.l-mgn--b-10 次世代3D飞行东方幻想游戏
          .txt--font--12.l-mgn--b-5 已选：S级/意大利语/阿拉伯
          .txt--font--12.l-mgn--b-10 单位：千字/源文字
          .l-columns
            .l-w--50p.col.price ¥ 520
              span.txt--cross.txt--silver-sand.l-mgn--l-10 ¥ 720.00
            .l-w--50p.col.txt--font--12.txt--silver-sand.txt--r x150
      .hr.l-mgn--t-20.l-mgn--b-20
      .c-pay-detail__store__section.l-columns
        .c-pay-detail__store__section__item
          .col.l-w--50p.txt--b.l-v--m 数量
          .col.l-w--50p.txt--r.l-v--m
            .c-spinner.disabled(data-js-spinner)
              .c-spinner__down.js-spinner-down
              input.js-spinner-input(type="text", value="120")
              .c-spinner__up.js-spinner-up
        .c-pay-detail__store__section__item
          .col.l-w--50p.txt--b 备注：
          .col.l-w--50p.txt--r
            a.has-right-arrow--b.txt--silver-sand(href="javascript:void(0)") 订单的详情需求补充
        .hr.l-mgn--t-20.l-mgn--b-20
        .c-pay-detail__store__section__item
          .col.l-w--50p.txt--b 发票：
          .col.l-w--50p.txt--r
            a.has-right-arrow--b(href="javascript:void(0)") 不开发票
        .c-pay-detail__store__section__item
          .col.l-w--50p.txt--b 礼券：
          .col.l-w--50p.txt--r
            a.has-right-arrow--b(href="javascript:void(0)") 无可用
    .break-bar
    .c-pay-detail__store
      .c-pay-detail__store__section.l-columns
        .c-pay-detail__store__section__item
          .col.l-w--50p.txt--b 商品金额总计：
          .col.l-w--50p.txt--r ¥78000.00
        .c-pay-detail__store__section__item
          .col.l-w--50p.txt--b 礼券冲抵：
          .col.l-w--50p.txt--r 0.00
        .c-pay-detail__store__section__item
          .col.l-w--50p.txt--b 店铺其他优惠：
          .col.l-w--50p.txt--r 0.00
        .c-pay-detail__store__section__item
          .col.l-w--50p.txt--b 平台活动优惠：
          .col.l-w--50p.txt--r 0.00
        .c-pay-detail__store__section__item
          .col.l-w--50p.txt--b 服务费5%：
          .col.l-w--50p.txt--r ¥3900.00
        .c-pay-detail__store__section__item
          .col.l-w--50p.txt--b 增值税5%：
          .col.l-w--50p.txt--r ¥0.00
        .hr.l-mgn--t-20.l-mgn--b-20
        .c-pay-detail__store__section__item
          .col.l-w--50p.txt--b.txt--font--16 实付总额：
          .col.l-w--50p.txt--r.txt--b ¥78000.00
          .col.l-w--100p.txt--r.txt--bittersweet 已优惠 ¥3000.00
        .hr.l-mgn--t-20.l-mgn--b-20
        .c-pay-detail__store__section__item
          .col.l-w--50p.txt--b.txt--font--16 本次支付：
          .col.l-w--50p.txt--r.txt--font--14 CNY 
            span.txt--b.txt--font--16 ¥24570.00
          .l-w--100p
            span.txt--font--12.l-mgn--r-10.l-v--m (30%, 第2阶段：首付款阶段)
            .ic--question-mark
    .break-bar
    .section.c-pay-detail__refund
      .txt--font--18.txt--b 退订政策
      ul
        li
          .dot 1
          p.
            距离项目启动时间至少<b>3天</b>取消预定可全额退款(服务费除外)；在该时间内、但项目尚未启动前取消预定扣除预付款的30%，服务费不退。
        li
          .dot 2
          p 项目启动后不接受退款。
        li
          .dot 3
          p.
            下单并付款完成后<b>48小时</b>内取消的预定，服务费可全额退还。
        li
          .dot 4
          p 因服务质量问题导致的客户退款，根据实际情况另行商议。
      .hr.l-mgn--t-20.l-mgn--b-20
      p.
        我同意<a href="" class="txt--persian-green txt--underline">商铺合作守则，退订政策</a>，我也同意支付已预订定单的如下金额。

    .c-pay-detail__submit-order
      .border
        .left
          .ic--cart
          span.l-mgn--l-5.txt--font--12 实付：
          span.txt--bittersweet ¥
          span.txt--bittersweet.txt--font--18.txt--b 24570.00
        a.right(href="javascript:void(0)") 提交订单

        

    



