//- 联系我们40-2
extends ../partials/_template

block content
  .c-contact-form
    .c-header.l-columns.has-shadow.l-v--m.l-pad--20.pos-relative
      .c-header--title
        span.txt--black.txt--600 给我们留言
      .col.c-header--back.l-w--50p
        a(href="./setting.html") 取消
    .c-about-me--main.l-pad--20
      p 我们将在24小时内给您回复，请耐心等待，感谢！
      textarea(placeholder="请输入问题描述")
      a.btn-type-2.l-mgn--t-20(href="javascript:void(0);") 发送

    