//- 订单备注页40-4
extends ../partials/_template

block content
  .c-contact-form
    .c-header.l-columns.has-shadow.l-v--m.l-pad--20.pos-relative
      .c-header--title
        span.txt--black.txt--600 添加备注
      .col.c-header--back.l-w--50p
        a(href="./setting.html") 取消
    .c-about-me--main.l-pad--20
      p 如果您还有想额外的补充，请在下方填写
      textarea(placeholder="请输入您要添加的订单备注")
      a.btn-type-2.l-mgn--t-20(href="javascript:void(0);") 保存