
//- 我的-获取帮助
extends ../partials/_template

block content
  .l-pad--b-90
    .c-header.l-columns.l-v--m.l-pad--20.pos-relative
      .col.c-header--back.l-w--50p.l-v--m
        a.ic--back--black.js-go-back(href="javascript:void(0)")

    
    .l-pad--l-20.l-pad--r-20.l-pad--b-20
      h1 常见问题

    hr.hr
    .c-list
      each item in faq
        a.c-list--item.l-pad--l-20.l-pad--r-20(href=item.url)
          .has-right-arrow--b
            p.txt--font--16!=item.txt
    hr.hr



    .c-menu.l-pad--20.no-shadow
      a.btn-type-1.txt--500(href="javascript:void(0);") 联系我们

    
