//- 我的-设置
extends ../partials/_template

block content
  .l-pad--b-90
    .c-header.l-columns.l-v--m.l-pad--20.pos-relative
      .col.c-header--back.l-w--50p.l-v--m
        a.ic--back--black.js-go-back(href="javascript:void(0)")

    
    .l-pad--20
      h1 设置

    hr.hr
    .c-list
      a.c-list--item.l-pad--l-20.l-pad--r-20(href="./select-language-single.html")
          .has-right-arrow--b
            p.txt--font--16 语言
      a.c-list--item.l-pad--l-20.l-pad--r-20(href="./48.html")
          .has-right-arrow--b
            p.txt--font--16 通知
      a.c-list--item.l-pad--l-20.l-pad--r-20.l-columns(href="javascript:void(0);")
        .col.l-w--50p
          p.txt--font--16 货币
        .col.l-w--50p.txt--r
          p.txt--font--16.txt--persian-green CNY (¥)
      a.c-list--item.l-pad--l-20.l-pad--r-20(href="#")
          .has-right-arrow--b
            p.txt--font--16 收款方式
      a.c-list--item.l-pad--l-20.l-pad--r-20(href="#")
          .has-right-arrow--b
            p.txt--font--16 服务条款
      a.c-list--item.l-pad--l-20.l-pad--r-20(href="#")
          .has-right-arrow--b
            p.txt--font--16 版本号：18.10

    hr.hr



    .c-menu.l-pad--20.no-shadow
      a.btn-type-2(href="./sign-in.html") 退出登录

    
