//- 商品一句话标题添加
extends ../partials/_template


block content
  .c-header.l-columns.l-v--m.l-pad--20.pos-relative.has-shadow
    .col.c-header--back.l-w--50p
      a.ic--back--black(href="#")

  .c-content
    h2.l-mgn--t-20 请为您的商品起个名字
    p.l-mgn--t-20.l-mgn--b-20.txt--300 为您的商品起个能突出其独特之处的标题，以便吸引更多客户的关注（50个字符以内）
    textarea.txt--font--16.light.l-w--100p(name="", cols="30", rows="5", placeholder="添加标题")



    .l-mgn--t-20
      a.btn-type-3(href="javascript:void(0);") 下一步

    
