//- 查看mib对客户的要求
extends ../partials/_template

block content
  .c-guide
    .c-header.l-columns.l-v--m.l-pad--20.pos-relative
      .col.c-header--back.l-w--50p.l-v--m
        a.ic--back--black(href="#")
      .col.l-w--50p.txt--r.l-v--m
        a(href="javascript:void(0)") 保存并退出
    .l-pad--20.border-bottom
      h2 查看MIB对客户的要求
      p.l-mgn--t-20.txt--300 MIB平台要求所有客户在预订服务之前必须满足以下指定的条件。
    hr.hr
    .l-pad--20
      ul
        li.larger 已验证邮箱或手机号
        li.larger 付款信息完整
        li.larger 同意您的合作守则
        li.larger 告诉您预订服务的基本需求      
    hr.hr
    .l-pad--20.l-columns
      .col.l-w--60p
        p.title.l-mgn--b-20
          strong 其他要求
      .col.l-w--40p.txt--r
        a(href="javascript:void(0)").txt--persian-green 编辑
      .col.l-w--100p
        p.larger 政府签发的身份证件
  .c-menu.l-pad--20.no-shadow
    a.btn-type-3(href="javascript:void(0)") 下一步








        

    
