//- 商品管理设置64
extends ../partials/_template


block content
  .c-guide
    .c-header.l-columns.l-v--m.l-pad--20.pos-relative
      .col.c-header--back.l-w--50p.l-v--m
        a.ic--back--black.js-go-back(href="javascript:void(0)")
      .col.l-w--50p.txt--r.l-v--m
        a(href="javascript:void(0)") 保存并退出

    .l-pad--20
      h2 接下来请设定商品管理的各项设置
      p.txt--300.l-mgn--t-20 您以前做过供应商服务吗？

    .l-columns.c-content(data-js-radio-box)
      hr.hr
      .l-pad--t-20.l-pad--b-20
        .col.l-w--80p.l-v--m
          p.txt--font--16.txt--300 我有供应商服务经验
        .col.l-w--20p.l-v--m
          .ic--checkbox-2.l-f--r.js-checkbox.active
            input(type="hidden" name="", value="checked")
      .l-pad--b-20
        .col.l-w--80p.l-v--m
          p.txt--font--16.txt--300 我是新手上路
        .col.l-w--20p.l-v--m
          .ic--checkbox-2.l-f--r.js-checkbox
            input(type="hidden" name="")
      hr.hr


    .c-menu.l-pad--20.no-shadow
      a.btn-type-3(href="./65.html") 下一步

    
