//- 商品管理设置64
extends ../partials/_template


block content
  .c-header.l-columns.l-v--m.l-pad--20.pos-relative.has-shadow
    .col.c-header--back.l-w--50p
      a.ic--back--black(href="#")

  .c-content
    h2.l-mgn--t-20 接下来请设定商品管理的各项设置
    p.l-mgn--t-20.l-mgn--b-20.txt--300 您以前做过供应商服务吗？
  hr.hr
  .l-columns.c-content(data-js-radio-box)
    hr.hr
    .l-pad--t-20.l-pad--b-20
      .col.l-w--80p.l-v--m
        p.txt--font--16.txt--300 我有供应商服务经验
      .col.l-w--20p.l-v--m
        .ic--checkbox-2.l-f--r.js-checkbox
          input(type="hidden" name="")
    .l-pad--b-20
      .col.l-w--80p.l-v--m
        p.txt--font--16.txt--300 我是新手上路
      .col.l-w--20p.l-v--m
        .ic--checkbox-2.l-f--r.js-checkbox
          input(type="hidden" name="")
    hr.hr


    .l-mgn--t-20
      a.btn-type-3(href="javascript:void(0);") 下一步

    
