//- 退订政策&可订状态设置68
extends ../partials/_template


block content
  .c-guide
    .c-header.l-columns.l-v--m.l-pad--20.pos-relative
      .col.c-header--back.l-w--50p.l-v--m
        a.ic--back--black.js-go-back(href="javascript:void(0)")
      .col.l-w--50p.txt--r.l-v--m
        a(href="javascript:void(0)") 保存并退出
    
    .l-pad--20
      h2 退订政策&可订状态设置
      p.txt--300.l-mgn--t-20 请设置您店铺的退订政策和可订状态，这对客户来说非常重要，请您谨慎操作。
    hr.hr
    .c-guide__refund-setting
      .l-pad--l-20.l-pad--r-20
        .item
          .bullet
            span 1
          .content.
            距离项目启动时间至少<input type="number" value="5">天取消预订可全额退款(服务费除外)；在该时间内、但项目尚未启动前取消预订扣除预付款的<input type="number" value="30">%，服务费不退。
        .item
          .bullet
            span 2
          .content 项目启动后不接受退款。
        .item
          .bullet
            span 3
          .content.
            下单并付款完成后<input type="number" value="48">小时内取消的预订，服务费可全额退还。
        .item
          .bullet
            span 4
          .content 因服务质量问题导致的客户退款，根据实际情况另行商议。
      hr.hr
      .l-pad--l-20.l-pad--r-20.l-mgn--t-20.l-pad--b-20
        .txt--font--16.l-mgn--b-5 发布可订状态的重要说明
        .l-columns
          .col.l-w--90p.l-v--m
            p.txt--300 发布商品后为可预定状态，如在某个阶段内不可接单需要将产品做下架设置。

          .col.l-w--10p.l-v--m.txt--r(data-js-checkbox)
            .ic--checkbox-2.l-inl-b.js-checkbox
              input(type="checkbox", name="", value="")




    .c-menu.l-pad--20.no-shadow
      a.btn-type-3(href="javascript:void(0);") 下一步

    
