//- 完成发布前的预览&发布页69
extends ../partials/_template



block content
  .c-product-management.c-product-management__edit.l-pad--b-90
    .banner
      .c-header.l-columns.l-v--m.l-pad--20.pos-relative
        .col.c-header--back.l-w--50p
          a.ic--back(href="#")
      .l-pad--b-40.l-pad--l-20.l-pad--r-20
        .h1.txt--white.txt--font--18.txt--c 恭喜您马上成为供应商,开始赚取收入吧！
    hr.hr
    .c-list.l-columns
      .c-list--item.l-pad--l-20.l-pad--r-20
        .col.l-w--70p
          p 商品类型选择
        .col.l-w--30p.txt--r
          .ic--checkbox-2.active.l-inl-b
      .c-list--item.l-pad--l-20.l-pad--r-20
        .col.l-w--70p
          p 详情、照片&视频
        .col.l-w--30p.txt--r
          a.txt--persian-green(href="") 编辑
      .c-list--item.l-pad--l-20.l-pad--r-20
        .col.l-w--70p
          p 一句话标题
        .col.l-w--30p.txt--r
          .ic--checkbox-2.active.l-inl-b
      .c-list--item.l-pad--l-20.l-pad--r-20
        .col.l-w--70p
          p 关键词和项目履历
        .col.l-w--30p.txt--r
          .ic--checkbox-2.active.l-inl-b
      .c-list--item.l-pad--l-20.l-pad--r-20
        .col.l-w--70p
          p 合作守则
        .col.l-w--30p.txt--r
          .ic--checkbox-2.active.l-inl-b
      .c-list--item.l-pad--l-20.l-pad--r-20
        .col.l-w--70p
          p 商品管理设置
        .col.l-w--30p.txt--r
          .ic--checkbox-2.active.l-inl-b
      .c-list--item.l-pad--l-20.l-pad--r-20
        .col.l-w--70p
          p 商品定价
        .col.l-w--30p.txt--r
          .ic--checkbox-2.active.l-inl-b
      .c-list--item.l-pad--l-20.l-pad--r-20
        .col.l-w--70p
          p 退订政策&可订状态
        .col.l-w--30p.txt--r
          .ic--checkbox-2.active.l-inl-b
    hr.hr
    .txt--r.l-pad--20
      a.preview-button(href="#") 预览
  .c-menu.l-pad--20.no-shadow
    a.btn-type-2(href="javascript:void(0)") 确认发布

  

    

  
