//- 交付流程9-2
extends ../partials/_template

block content
  .c-price-detail.l-pad--20
    a.ic--back--black.l-mgn--b-20.js-go-back(href="javascript:void(0)")
    h3.l-mgn--b-10 交付流程
    .l-mgn--b-5
      strong 高性价比，高品质服务
    p 请认真阅读以下列出的服务和交付步骤，在整个服务过程中，平台将提供智能工具帮您大幅提高协作效率   
    .c-price-detail--section.c-price-detail--section--process
      ul
        li
          .left
            strong 第1步：
          .right
            strong 提交详细的订单需求
            p 平台提供专业模板辅助客户明确需求
          
        li
          .left
            strong 第2步：
          .right
            strong 双方的需求内容&定价确认
            p 需求内容包括具体要求、产出预期、周期及付款方式等
        li
          .left
            strong 第3步：
          .right
            strong 客户下单并支付首付款
            p 订单并按照约定支付首付款
        li
          .left
            strong 第4步：
          .right
            strong 我方按约定的需求启动服务


        li
          .left
            strong 第5步：
          .right
            strong 将阶段性产出提供给客户审核
            p 平台提供时间提醒、便捷的产出提交和意见反馈工具，大大提高沟通效率

        li
          .left
            strong 第6步：
          .right
            strong 客户反馈产出的修改意见给我方
            p 客户在工具上直接提交，我方将实时看到反馈、提高协作效率
        li
          .left
            strong 第7步：
          .right
            strong 我方修改根据反馈修改、直至确认
        li
          .left
            strong 第8步：
          .right
            strong 再次确认下阶段需求和计划
            p 在下个阶段启动前，再次确认相关的阶段需求和计划，以确保服务的精准性
        li
          .left
            strong 第9步：
          .right
            strong 客户支付下阶段的款项
        li
          .left
            strong 第10步：
          .right
            strong 服务制作—>产出审核—>终稿确认
            p 包括整个订单后续阶段的各阶段的启动制作、产出阶段性成果、成果审核、持续修改、直到终稿确认的全过程
        li
          .left 
            strong 第11步：
          .right
            strong 客户支付尾款
        li
          .left
            strong 第12步：
          .right
            strong 交付最终成果的源文件或资料
            p 在下个阶段启动前，再次确认相关的阶段需求和计划，以确保服务的精准性
        li
          .left
            strong 第13步：
          .right
            strong 产出合作结案
            p 平台将智能生成合作结案发给合作双方，记录并总结合作的全过程
        li
          .left
            strong 第14步：
          .right 
            strong 双方互相评星、撰写评价
    
 







