//- 商品明细9-4
extends ../partials/_template

block content
  .c-price-detail
    .c-header.l-columns.l-v--m.l-pad--20.pos-relative
      .col.c-header--back.l-w--50p.l-v--m
        a.ic--back--black.js-go-back(href="javascript:void(0)")
      .col.l-w--50p.txt--r.l-v--m
        a.l-f--r(href="javascript:void(0)")
          .ic--transalte

    p.txt--font--16.l-pad--l-20.l-pad--r-20
      span.txt--b 商品名称：
      span 美术外包/The art of outsourcing
    .hr.l-mgn--t-20.l-mgn--b-20
    .l-pad--l-20.l-pad--r-20
      .c-price-detail__promo
        .c-price-detail__promo__item.txt--font--16.
          <span class="txt--b">原价：</span> ¥ <span class="txt--underline">720.00</span>/千字源文字
        .c-price-detail__promo__item.txt--font--16.
          <span class="txt--b">折后价：</span> ¥ <span class="txt--underline">520.00</span>/千字源文字
        .c-price-detail__promo__item
          .icon
            .ic--checkbox-3.active
          p.c-price-detail__promo__item__content 额外优惠有效期：2019.6.8-2019.6.30
    .hr.l-mgn--t-20.l-mgn--b-20
    .l-pad--l-20.l-pad--r-20
      .c-price-detail__promo.txt--font--16
        .txt--b.l-mgn--b-15 周期预估：
        .c-price-detail__promo__item
          .icon
            .ic--include__y
          .c-price-detail__promo__item__content <span class="txt--underline">20</span>/天
        .c-price-detail__promo__item
          .icon
            .ic--include__y
          .c-price-detail__promo__item__content 依项目具体需求确定


    .hr.l-mgn--t-20.l-mgn--b-20
    .l-pad--l-20.l-pad--r-20
      .c-price-detail__promo.txt--font--16
        .txt--b.l-mgn--b-15 其他补充说明
        .txt--underline--grey 暂无特别要求





  .c-menu.l-pad--20.no-shadow.no-border
    a.btn-type-2(href="./9-1.html") 关闭
    