//- 产品信息添加
extends ../partials/_template

block content
  .c-about-me
    .c-header.l-columns.has-shadow.l-v--m.l-pad--20.pos-relative
      .c-header--title
        span.txt--black.txt--600 关于我
      .col.c-header--back.l-w--50p
        a(href="./setting-user.html") 取消
    .c-about-me--main.l-pad--20
      p 请介绍下你自己，方便更多伙伴了解你
      textarea(placeholder="请输入你的个人说明")
      a.btn-type-2.l-mgn--t-20(href="javascript:void(0);") 保存

    