//- 添加合作守则40-3
extends ../partials/_template


block content
  .c-header.l-columns.l-v--m.l-pad--20.pos-relative.has-shadow
    .col.c-header--back.l-w--50p
      a.ic--back--black(href="#")
    .c-header--title
        span.txt--black.txt--600 添加合作守则
  .c-content
    p.l-mgn--t-20.l-mgn--b-20 如果您还有额外的规则补充，请在下方填写
    textarea.l-w--100p.light.border-persian-green.l-pad--5.has-corner--5(name="", cols="30", rows="5", placeholder="请输入您要添加的合作守则")
    .l-mgn--t-20
      a.btn-type-2(href="javascript:void(0);") 保存

    
