//- 添加详情、照片和视频57
extends ../partials/_template


block content
  .c-guide(data-js-add-product-detail)
    .c-header.l-columns.l-v--m.l-pad--20.pos-relative
      .col.c-header--back.l-w--50p.l-v--m
        a.ic--back--black.js-go-back(href="javascript:void(0)")
      .col.l-w--50p.txt--r.l-v--m
        a(href="javascript:void(0)") 保存并退出
    div(data-js-publish)
      .l-pad--20
        h2 添加您商品的详细描述，照片和视频
        p.txt--300.l-mgn--t-20 照片/视频，可以帮助客户更多了解您要提供的服务品质。
      hr.hr
      .l-pad--20
        textarea.l-w--100p.light.no-border.txt--font--14(name="", rows="5", max="1000", placeholder="详细描述您要提供的商品核心特色和价值(500个字符以内)")

      .l-pad--t-20.l-pad--l-20.l-pad--r-20.l-pad--b-20(data-js-add-media)
        .l-flex.c-product-info--form--media.js-media
          .item
            input.input-file.js-input-file(type="file", name="", accept="image/*" capture="camera")
            
            .item--content.js-add-media
              .ic--add-3
              span 照片/视频
      .note.l-pad--l-20.l-pad--r-20.txt--200
        p 备注：
        p 1、视频要求1280*720, 时长15秒-1分钟，大小100M以内, mov/mp4
        p 2、图片尺寸1280*720, 每张图片大小60k以内

      .l-mgn--t-20

  .c-menu.l-pad--20.no-shadow
    a.btn-type-3(href="./58.html") 下一步
    
