
//- 日历
extends ../partials/_template

block content


  .c-process.c-calendar.l-pad--20(data-js-calendar)
    .c-calendar--header.l-columns.l-mgn--b-20
      .col.l-w--50p.l-v--m
        a.ic--back--black(href="store.html")
      .col.l-w--50p.l-v--m.txt--r
        a.reset-btn(href="javascript:void(0)") 清除
    .c-calendar--main
      .c-calendar--main--top.l-columns
        .col.l-w--50p
          a.btn(href="order-detail.html") 预定
        .col.l-w--50p.no-border
          a.btn(href="javascript:void(0);") 退订
      .c-calendar--main--body.js-calendar-container



    











