extends ../partials/_template

block content
  .c-find-psw
    .c-find-psw--header
      .l-pad--20
        .ic--back.l-mgn--b-20
        span 忘记密码
    form.c-find-psw--form.l-pad--20
      .c-find-psw--form--rol.border-bottom
        input(type="text", placeholder="请输入账户名")
      .c-find-psw--form--rol.border-bottom
        input.input-psw(type="password", placeholder="请输入验证码")

        a.btn-type-1(href="javascript:void(0)") 获取验证码
      button.btn-type-2 提交
    











