//- 忘记密码
extends ../partials/_template


block content
  input(type="hidden", name="forget-psw-200", value="该账号尚未注册")
  input(type="hidden", name="forget-psw-400", value="验证失败，请重试")
  input(type="hidden", name="forget-psw-500", value="用户名为空")
  input(type="hidden", name="forget-psw-600", value="验证码为空")
  .c-forget-psw(data-js-forget-psw)
    .c-header
      a.l-mgn--l-20(href="sign-in.html")
        .ic--back.l-inl-b.l-v--m
        span.l-inl-b.l-v--m 忘记密码

    .c-sign-in--main.c-content
      form.c-sign-in--form.js-forget-psw-form
        .c-sign-in--form--rol.border-bottom
          .ic--user
          input(type="text", name="uid", autocomplete="on", placeholder="请输入用户名")
        .c-sign-in--form--rol.border-bottom
          .ic--psw
          input(type="text", name="secureCode", placeholder="请输入验证码")
          button.btn-type-1.js-code 获取验证码
        br
        label#uid-error.error(for="uid")
        br
        label#secureCode-error.error(for="secureCode")
        .error.js-error

        button.c-sign-in--form--submit.js-submit.btn-type-2(disabled) 提交




