//- 设置新密码
extends ../partials/_template
include ../mixins/_popup


block content

  input(type="hidden", name="forget-psw-200", value="该账号尚未注册")
  input(type="hidden", name="forget-psw-201", value="用户名不能为空")
  input(type="hidden", name="forget-psw-202", value="用户名无效")
  input(type="hidden", name="forget-psw-210", value="验证码不能为空")
  input(type="hidden", name="forget-psw-211", value="验证码错误 请重试")
  input(type="hidden", name="forget-psw-220", value="密码不能为空")
  input(type="hidden", name="forget-psw-221", value="密码不匹配")
  input(type="hidden", name="forget-psw-222", value="密码不足6位")
  input(type="hidden", name="forget-psw-223", value="密码超过18位")
  input(type="hidden", name="forget-psw-224", value="密码不能包含特殊字符")

  .c-forget-psw(data-js-forget-psw)
    .c-header
      a.l-mgn--l-20(href="sign-in.html")
        .ic--back.l-inl-b.l-v--m
        span.l-inl-b.l-v--m 设置新密码

    .c-sign-in--main.c-content
      form.c-sign-in--form.js-forget-psw-form
        .c-sign-in--form--rol.border-bottom
          //- .ic--user
          input(type="text", name="uid", autocomplete="on", placeholder="请输入用户名")
        .c-sign-in--form--rol.border-bottom
          //- .ic--psw
          input(type="text", name="secureCode", placeholder="请输入验证码")
          a.btn-type-1.js-code 获取验证码
        .c-sign-in--form--rol.border-bottom
          input#newPsw(type="password", name="newPsw", placeholder="输入新密码")
        .c-sign-in--form--rol.border-bottom
          input.js-input-psw2.l-w--100p(type="password", name="repeatPsw",placeholder="再次输入新密码")
        br
        label#uid-error.error(for="uid")
        label#secureCode-error.error(for="secureCode")
        label#newPsw-error.error(for="newPsw")
        label#repeatPsw-error.error(for="repeatPsw")
        .error.js-error

        button.c-sign-in--form--submit.js-submit.btn-type-2(disabled) 提交
    +popup('resetPsw')




