extends ../partials/_template

block content
  .c-price-detail.c-gift-card.l-pad--20
    .ic--back--black.l-mgn--b-20
    h2.l-mgn--b-40 兑换礼金券
    form
      label 礼金券代码
      input.border-bottom(type="text", placeholder="请输入您的代码")
      a(href="javascript:void(0)") 确定

