
extends ../partials/_template
include ../mixins/_header

block content
  .c-group--notification
    .c-header.pos-relative.l-columns.l-pad--20.has-shadow.l-v--m
      .c-header--title
        span.txt--black 群公告
      .col.c-header--back.l-w--50p
        a(href="store.html") 取消
      .col.c-header--other.l-w--50p.txt--r
        a(href="#") 发布
    .c-group--notification--body
      textarea(name="groupNotification", cols="30", rows="10", placeholder="请输入正文")

      

 

          
  
