//- 预定详情
extends ../partials/_template

block content
  form.c-price-detail.c-order-detail.c-process(data-js-order-detail)
    .ic--back--black.l-mgn--b-20
    h2.l-mgn--b-10 预定详情
    p.smaller 店铺老板：优米
    .c-order-detail--item.l-columns
      .col.l-w--70p
        h4 中国水墨风/国产武侠原画，超高精度
      .col.l-w--30p
        img.l-w--100p(src=paths.img + 'order-detail-thumb.jpg', alt="产品图片")
    .c-order-detail--item.l-columns
      .col.l-w--40p
        h4  日期
      .col.l-w--60p
        input.c-datepicker.js-datepicker.txt--persian-green(placeholder="选择时间", required)
    .c-order-detail--item.l-columns
      .col.l-w--60p
        h4  工作人员
      .col.l-w--40p.txt--r
        span.txt--persian-green 1位
    .c-order-detail--item.l-columns.js-user-info
      .col.l-w--70p
        h4  预定人信息
        p 李娜 1300000000000000
      .col.l-w--30p.txt--r
        span.txt--persian-green.js-btn 更改
      input.user-name(type="text", name="userName", value="李娜")
      input.user-id(type="text", name="userId", value="130123199001010000")
    .c-order-detail--item.l-columns
      .col.l-w--70p
        h4  预定须知
      .col.l-w--30p
        .ic--checkbox.l-f--r.js-order-detail-checkbox(data-value="")
        input(type="hidden", name="rules", value="")
      .col.l-w--100p
        p.
          1. 提交需求并下单后，中途不允许做大腹的设计更改，否则视为二次设计。<br/>
          2. 本店不接受超出服务购买内容的需求。<br/>
          3. 本店不接受试稿竞标的交易方式。<br/>
          4. 本店不接受全额退款。<br/>
          5. 请尊重设计师的创意成果，注意沟通语言。
    .c-order-detail--item.l-columns
      .col.l-w--70p
        h4 礼金券
      .col.l-w--30p
    .c-order-detail--item.l-columns
      .col.l-w--100p
        h4 给卖家留言（必填）
      .col.l-w--100p
        textarea.l-w--100p(placeholder = "请填写留言", required)
    .c-menu.c-store--footer
      p 美术整包
      p.price 30000-50000/张
      
      a.link(href="price-detail.html") 价格详情
      a.c-store--footer--btn(href="#") 下一步
        

    










