extends ../partials/_template

block content
  .c-price-detail.l-pad--20
    a.ic--close--black.l-mgn--b-20(href="order-detail.html")
    h2.l-mgn--b-10 付款明细
    p.smaller 整套美术外包：工期30天
    br
    hr.hr
    br
    .l-columns
      .col.l-w--50p.
        ¥2500/天<i class="ic--mutiply l-mgn--l-10 l-mgn--r-5"></i>30天
      .col.l-w--50p.txt--r ¥60000.00
    br
    hr.hr
    br
    .l-columns
      .col.l-w--50p.
        首付款 <span class="txt--burnt-sienna">30%</span>
      .col.l-w--50p.txt--r ¥2000.00
      .col.l-w--100p.l-mgn--t-10 总款项共分三笔支付，此为第一次收付款的支付
    br
    hr.hr
    br
    .l-columns
      .col.l-w--50p.
        服务费 <span class="txt--burnt-sienna">5%</span>
      .col.l-w--50p.txt--r ¥3000.00
      .col.l-w--100p.l-mgn--t-10.
        服务费用来帮助为您提供平台的运行服务，其中包含24小时的客服支持、智能协作工具、交易的安全保障等。
    br
    hr.hr
    br
    .l-columns
      .col.l-w--50p.
        增值税 <span class="txt--burnt-sienna">6%</span>
      .col.l-w--50p.txt--r ¥3600.00
      .col.l-w--100p.l-mgn--t-10.
        此订单向国家缴纳的增值税，我们将为此提供增值税发票。
    br
    hr.hr
    br
    .txt--r.
      <sup>CNY</sup> ¥26600.00

    










