//- 选择付款方式
extends ../partials/_template

block content
  .l-pad--20.c-payment-method.c-process(data-js-payment-method)
    a.ic--back--black.l-mgn--b-20(href="prepay.html")
    h2.l-mgn--b-30 付款方式
    ul.c-list.l-columns
      li.c-list--item
        .col.l-w--60p.l-v--m
          .ic--alipay.l-inl-b.l-v--m.l-mgn--r-10
          span.l-v--m 支付宝
        .col.l-w--40p.l-v--m
          input(type="hidden", name="alipay", value="")
          .ic--checkbox-2.l-f--r.js-checkbox(data-checked='')
      li.c-list--item
        .col.l-w--60p
          .ic--wechat-2.l-inl-b.l-v--m.l-mgn--r-10
          span.l-v--m 微信支付
        .col.l-w--40p.l-v--m
          input(type="hidden", name="alipay", value="")
          .ic--checkbox-2.l-f--r.js-checkbox(data-checked='')
      li.c-list--item
        .col.l-w--60p
          .ic--card.l-inl-b.l-v--m.l-mgn--r-10
          span.l-v--m 信用卡或借记卡
        .col.l-w--40p.l-v--m
          a.ic--add.l-f--r(href="add-card.html")


        

    
