//- 服务商品类型选择页改
extends ../partials/_template

block content
  .c-publish
    .c-header.l-columns.l-v--m.l-pad--20.pos-relative
      .c-header--title
        span.txt--black 类目
      .col.c-header--back.l-w--50p
        a.ic--back--black(href="#")

    .c-publish--categories.l-pad--20
      each item in publish_catgories
        h3.heading!= item.name
        if (item.options)
          ul
            each option in item.options
              li
                span!= option


    
    



        

    
