//- 发布商品类型选择页
extends ../partials/_template
include ../mixins/_show-game
include ../mixins/_show-other

block content
  .c-publish(data-js-publish)
    .l-pad--20
      a.ic--back--black.l-mgn--b-20(href="./setting.html")
    h2.l-pad--l-20.l-pad--r-20.l-pad--b-20 请选择你要发布商品的类型
    hr.hr
    .c-list.c-content
      a.c-list--item.has-right-arrow--b(href="./publish-4.html")
        .title 商品类型
      .light.l-mgn--b-20.hide.js-selected-type 美术设计
      input(type="hidden", name="type", value="")
    
    hr.hr
    .c-publish--game.js-show-game.hide
      +showGame()
    .c-publish--other.js-show-other.hide
      +showOther()
    .js-next.hide
      hr.hr.l-mgn--t-20
      .l-pad--20
        a.btn-type-3(href="javascript:void(0)") 下一步


    
    



        

    
