//- 发布商品类型选择页
extends ../partials/_template

block content
  .c-publish
    .l-pad--20
      a.ic--back--black.l-mgn--b-20(href="setting.html")
    h1.l-pad--l-20.l-pad--r-20.l-pad--b-20 请选择你要发布商品的类型
    hr.hr
    .c-list.c-content
      a.c-list--item.has-right-arrow--b(href="javascript:void(0)")
        .title 商品类型
    hr.hr

    
    



        

    
