extends ../partials/_template
include ../mixins/_popup


block content
  .c-find-psw
    .c-find-psw--header
      .l-pad--20
        .ic--back.l-mgn--b-20
        span 设置新密码
    form.c-find-psw--form.l-pad--20
      p 新密码：
      .c-find-psw--form--rol.border-bottom
        input(type="text", placeholder="xxx@xxx.com", value="xxx@xxx.com" disabled)
      .c-find-psw--form--rol.border-bottom
        input.l-w--100p(type="password", placeholder="输入新密码")
      .c-find-psw--form--rol.border-bottom
        input.l-w--100p(type="password", placeholder="再次输入新密码")

      button.btn-type-2 确定
  +popup('resetPsw')
    











