extends ../partials/_template

block content
  .c-price-detail.c-rules.l-pad--20
    .ic--back--black.l-mgn--b-20
    h2.l-mgn--b-10 查看优米的商铺合作守则
    p.smaller 以下是预订优米设计下单预订需要遵守的几条规定，以及您需要了解的重要事项说明。
    br
    .border-bottom
    .l-pad--t-20.l-pad--b-20.border-bottom.
      1.提交需求并下单后，中途不允许做大幅的设计更改，否则视为二次设计。
    .l-pad--t-20.l-pad--b-20.border-bottom.
      2.本店不接受超出服务购买内容的需求。
    .l-pad--t-20.l-pad--b-20.border-bottom.
      3.本店不接受试稿竞标的交易方式。
    .l-pad--t-20.l-pad--b-20.border-bottom.
      4.本店不接受全额退款。
    .l-pad--t-20.l-pad--b-20.border-bottom.
      5.请尊重设计师的创意成果，注意沟通语言。
    a.btn-type-2(href="javascript:void(0);") 同意











