//- 选择所在地区
extends ../partials/_template
include ../mixins/_search-bar
include ../mixins/_popup

block content
  .c-location(data-js-location)
    .c-header.l-columns.has-shadow.l-v--m.l-pad--20.pos-relative
      .c-header--title
        span.txt--black 地区选择
      .col.c-header--back.l-w--50p
        a.ic--back--black(href="#")
      .col.l-w--50p
        a(href="javascript:void(0)").js-complete.l-block.l-f--r 完成
    .c-location--category 
      span 定位到的位置
    .c-list
      .c-list--item.l-pad--l-20
        .ic--location
        span 中国
    .c-location--category
      span 全部
    .c-list.js-selected.hide
      .c-list--item.l-columns.l-pad--l-20.l-pad--r-20
        .col.l-w--60p
          .c-location--item--name
        .col.l-w--40p.txt--r
          span.txt--tiara 已选地区
      hr.hr
    .c-list
      each item in select_location
        .c-list--item.l-pad--l-20.l-pad--r-20.c-location--item.js-selection
          .c-location--item--name(data-country=item.data)!= item.name
