extends ../partials/_template

block content
  .c-share
    .c-share--hero
      img.l-w--100p(src=paths.img + 'share-bg.jpg', alt="")
      a.ic--close--white(href="store.html")
      .c-share--hero--overlay
        img.l-w--100p(src=paths.img + 'share-1.jpg', alt="")
        .c-share--hero--overlay--content.
          中国水墨风/国产武侠原画，超高精度，包满意...

    ul.c-list.c-share--links
      li.c-list--item.has-right-arrow.has-right-arrow--porcelain
        .ic--share-to.ic--share-to--wechat.l-inl-b.l-v--m.l-mgn--r-5
        span 微信消息
      li.c-list--item.has-right-arrow.has-right-arrow--porcelain
        .ic--share-to.ic--share-to--discovery.l-inl-b.l-v--m.l-mgn--r-5
        span 微信朋友圈
      li.c-list--item.has-right-arrow.has-right-arrow--porcelain
        .ic--share-to.ic--share-to--link.l-inl-b.l-v--m.l-mgn--r-5
        span 复制链接
      li.c-list--item.has-right-arrow.has-right-arrow--porcelain
        .ic--share-to.ic--share-to--msg.l-inl-b.l-v--m.l-mgn--r-5
        span 短信
      li.c-list--item.has-right-arrow.has-right-arrow--porcelain
        .ic--share-to.ic--share-to--email.l-inl-b.l-v--m.l-mgn--r-5
        span 电子邮件
      li.c-list--item.has-right-arrow.has-right-arrow--porcelain
        .ic--share-to.ic--share-to--more.l-inl-b.l-v--m.l-mgn--r-5
        span 更多



