//- //- 新用户注册
//- extends ../partials/_template


//- block content
//-   .c-content.c-sign-in--bg
//-     .c-sign-in
//-       h1 欢迎使用MIB
//-       h2 (Mega Icebreaker)
//-       .c-sign-in--main
//-         form.c-sign-in--form.c-sign-up--form(data-js-password)
//-           .c-sign-in--form--rol.border-bottom
//-             .ic--user
//-             input(type="text", name="uid", autocomplete="on", placeholder="请输入昵称")
//-           .c-sign-in--form--rol.border-bottom
//-             .ic--email
//-             input(type="text", name="uid", autocomplete="on", placeholder="请输入邮箱地址或手机号码")
//-           .c-sign-in--form--rol.border-bottom(data-js-password)
//-             .ic--psw
//-             input(type="password", name="psw", placeholder="请输入密码").js-psw-input
//-             .ic--eye.js-psw-eye
//-           div.c-sign-in--form--link.txt--r
//-             a(href="sign-in-code.html") 用短信验证码登录
//-           button.c-sign-in--form--submit 注册

//-         .c-sign-in--other
//-           span 第三方账号快速登录
//-           .txt--c
//-             .ic--wechat.l-mgn--20
//-             .ic--qq.l-mgn--20


