extends ../partials/_template
include ../mixins/_popup

block content
  .c-content.c-sign-in--bg(data-js-sign-in-by-mobile)
    .c-sign-in
      h1 欢迎使用MIB
      h2 (Mega Icebreaker)
      .c-sign-in--main.l-mgn--t-70
        form.c-sign-in--form
          .c-sign-in--form--rol.border-bottom
            span CN+86
            input.input-phone.js-mobile-number(type="text", name="uid", autocomplete="on", placeholder="请输入手机号码")

          a.button.c-sign-in--form--submit.js-open-popup-code(href="javascript:void(0);") 获取验证码
          div.c-sign-in--form--link.txt--c
            a(href="sign-in.html") 已有密码，用密码登录

        
        .c-sign-in--bottom
          .c-sign-in--other
            span 第三方账号快速登录
            .txt--c.l-mgn--t-20
              .ic--wechat.l-mgn--10
              .ic--qq.l-mgn--10
          .c-sign-in--register.l-mgn--10
            a(href="register.html") 还没有账户？注册
  +popup('signIn')


