//- 个人页面
extends ../partials/_template
include ../mixins/_display-projects

block content
  .l-pad--20.c-user
    a.ic--back--black.l-mgn--b-20(href="#")
    .l-columns
      .col.l-w--80p.l-v--m
        h1 Amy Sim
        p.smaller 北京，中国
      .col.l-w--20p.l-v--m
        img.l-w--100p(src=paths.img + 'user-thumb.jpg', alt="")
    .c-tab-panel(data-js-tab-panel)
      .c-tab-panel--menu
        .c-tab-panel--menu--item.js-tab-menu.active(data-tab-index=1)
          span 用户资料
        //- .c-tab-panel--menu--item.js-tab-menu(data-tab-index=2)
        //-   span 动态
      .c-tab-panel--content
        .c-tab-panel--content--item.js-tab-panel.active(data-panel-index=1)
          h3 关于Lina
          .c-collapse(data-js-collapse)
            .c-collapse--container.js-collapse-container
              .c-collapse--container--content.js-collapse-content
                p.
                  A traveller、gamer an philosopher. 我是一个热爱生活的旅行爱好者，职业是游戏运营。同时我也喜欢心理学、哲学、教练等.  traveller、gamer an philosopher. A traveller、gamer an philosopher. 我是一个热爱生活的旅行爱好者，职业是游戏运营。同时我也喜欢心理学、哲学、教练等.  traveller、gamer an philosopher. 我是一个热爱生活的旅行爱好者，职业是游戏运营。同时我也喜欢心理学、哲学、教练等
              .c-collapse--expand-btn.btn-expand.js-collapse-btn.hide(data-expanded="false")
                span 阅读更多

        //- .c-tab-panel--content--item.js-tab-panel(data-panel-index=2)
          
    hr.hr
      
    ul.c-list.l-columns
      li.c-list--item
        h3 12条评价
        p.
          Great guests! So patient when we delayed her a little.

        a.c-store--comments--read-all.l-mgn--t-10(href="javascript:void(0);") 阅读全部12条评价
      li.c-list--item
        .col.l-w--100p.
          语言：中文，English
      li.c-list--item
        .col.l-w--100p.
          加入MIB时间：2017年11月
      li.c-list--item
        .col.l-w--100p.
          所在公司: 北京市天禾互动有限公司<br/>
          公司简介: 注册资本500万<br/>
          公司主营: 游戏研发 &nbsp;&nbsp;&nbsp;&nbsp;代表作:天之骄子
      li.c-list--item
        .col.l-w--100p
          .ic--secure
          span 已验证消息:
        .col.l-w--100p.
          电子邮件、手机号、身份证、公司信息
    h3.l-mgn--b-15 五个商品
    +display-projects(user_display)


  
    

    










