- paths = paths || {}
- paths.root = _root
- modifyPath = function(path) {return path ? path.replace(config.build, paths.root) : ''; }
- paths.static = paths.root + 'assets/'
- paths.img = modifyPath(paths.img) || paths.static + 'img/' 
- paths.js = modifyPath(paths.buildJs) || paths.static + 'js/' 
- paths.css = modifyPath(paths.css) || paths.static + 'css/' 