gradient-linear-up-down(col1, col2, col3)
  background -webkit-linear-gradient(col1, col2, col3)
  background -o-linear-gradient(col1, col2, col3)
  background -moz-linear-gradient(col1, col2, col3)
  background linear-gradient(col1, col2, col3)